{% extends "layout.html" %}

{% block pageTitle %}
Do you work less than 16 hours a week? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/eligibility/do-you-work-less-than-16-hours" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you work less than 16 hours a week on average?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1h-less-than-16-hours" name="1h-less-than-16-hours" type="radio" value="yes" {{ checked("1h-less-than-16-hours", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="1h-less-than-16-hours">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1h-less-than-16-hours-2" name="1h-less-than-16-hours" type="radio" value="no" {{ checked("1h-less-than-16-hours", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="1h-less-than-16-hours-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
