{% extends "layout-contact.html" %}

{% block pageTitle %}
#
{% endblock %}

{% if not inEditMode and casa.journeyPreviousUrl %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endif %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                You may not be eligible
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>

            <p>Based on your answers, you may not be eligible for Access to Work.</p>

            <p>You're not eligible if you're receiving Employment Support Allowance (ESA), unless you're receiving ESA and one of the following applies:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>you work less than 16 hours a week</li>
              <li>you are doing <a href="https://www.gov.uk/government/publications/employment-and-support-allowance-permitted-work-form/permitted-work-factsheet">supported permitted work</a></li>
            </ul>

            <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m">If you think you might still be eligible</h2>

            <p>If you think you might still be eligible, contact us:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>telephone: 0800 121 7479</li>
              <li>email: <a href="#">atwosu.london@dwp.gov.uk</a></li>
            </ul>

            <h3 class="govuk-heading-m">If you cannot hear or speak on the phone</h3>

            <p>Dial 18001 then 0800 121 7479 to use the <a href="#">Relay UK service</a></p>

            <h3 class="govuk-heading-m">If you use British Sign Language (BSL)</h3>

              <p>You can use the <a href="#">video relay service</a>. Watch a video to find out <a
                      href="#">how to use the service</a>.<p>


            <h3 class="govuk-heading-m">If you need financial support</h3>

            <p class="govuk-body">The government can provide <a href="https://www.gov.uk/browse/benefits">benefits and financial support depending on your situation</a>.</p>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    

  </div>
</div>

  </div>

{% endblock %}
