{% extends "layout-contact.html" %}

{% block pageTitle %}
#
{% endblock %}

{% if not inEditMode and casa.journeyPreviousUrl %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endif %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                You may not be eligible
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>

            <p>Based on your answers, you may not be eligible for Access to Work.</p>

            <p>If you are receiving Employment Support Allowance (ESA), you are only eligible if one of the following applies:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>you work less than 16 hours a week</li>
              <li>you are doing <a href="https://www.gov.uk/government/publications/employment-and-support-allowance-permitted-work-form/permitted-work-factsheet">supported permitted work (opens in a new tab)</a></li>
            </ul>

            <div class="govuk-!-padding-bottom-3"></div>


          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    

  </div>
</div>

  </div>

{% endblock %}
