{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-control/what-is-your-date-of-birth">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-eligibility-control/current-benefits" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Tell us the benefits that you're currently receiving.
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="#" type="checkbox"
                       value="employment support allowance">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Employment Support Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="#" type="checkbox"
                       value="incapacity benefit">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Incapacity Benefit
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="#" type="checkbox" value="income support">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Income Support
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-4" name="#" type="checkbox"
                       value="severe disability allowance">
                <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                  Severe Disability Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-5" name="#" type="checkbox" value="none">
                <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                  None of the above
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-0"></div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
