{% extends "layout.html" %}

{% block pageTitle %}
Would you like to apply with guidance in British Sign Language? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-control/do-you-live-in-gb">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-eligibility-control/posted-worker" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Are you a posted worker?
                  </h1>
                </legend>

                <div id="posted-worker-hint" class="govuk-hint">
                  A posted worker is someone that has been sent to work temporarily in another EU country, or the UK, by their employer.
                </div>

                <div class="govuk-!-padding-bottom-1"></div>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="posted-worker" name="posted-worker" type="radio"
                           value="yes">
                    <label class="govuk-label govuk-radios__label" for="posted-worker">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="posted-worker-2" name="posted-worker" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="posted-worker-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
