{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-control/home-address">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-eligibility-control/#" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Are you a posted worker?
                  </h1>
                </legend>

                <div id="more-detail-hint" class="govuk-hint">
                  A posted worker is someone who has been sent from a European Union country to the UK by their employer to work on a temporary basis.
                </div>

                <div class="govuk-!-padding-bottom-1"></div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-need-support" name="do-you-need-support"
                           type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="do-you-need-support">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-need-support-2" name="do-you-need-support"
                           type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="do-you-need-support-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
