{% extends "layout-contact.html" %}

{% block pageTitle %}
What type of support do you need to travel to and from work? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        {% if data['1i-employment-status2']%}
    <form class="form" action="/alpha-1i/travelling-to-and-from-work/what-support-do-you-need-multiple-job-answer" method="post">{% else %}
    <form class="form" action="/alpha-1i/travelling-to-and-from-work/what-support-do-you-need-answer" method="post">{% endif %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What type of support do you need to travel to and from work?
          </h1>
        </legend>

        <div id="travelling-to-and-from-work-what-support-do-you-need-hint" class="govuk-hint">If you do not know, we can help to find the right option for you.
        </div>

        <div class="govuk-!-padding-bottom-2"></div>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travelling-to-and-from-work-what-support-do-you-need" name="travelling-to-and-from-work-what-support-do-you-need" type="radio" value="Taxi" {{ checked("travelling-to-and-from-work-what-support-do-you-need", "Taxi") }}>
            <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-what-support-do-you-need">
              Taxi
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travelling-to-and-from-work-what-support-do-you-need-2" name="travelling-to-and-from-work-what-support-do-you-need" type="radio" value="Lift in a car from a friend, colleague or family member" {{ checked("travelling-to-and-from-work-what-support-do-you-need", "Lift in a car from a friend, colleague or family member") }}>
            <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-what-support-do-you-need-2">
              Lift in a car from a friend, colleague or family member
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travelling-to-and-from-work-what-support-do-you-need-3" name="travelling-to-and-from-work-what-support-do-you-need" type="radio" value="Something else" {{ checked("travelling-to-and-from-work-what-support-do-you-need", "Something else") }}>
            <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-what-support-do-you-need-3">
              Something else
            </label>
          </div>
          <div class="govuk-!-padding-bottom-1"></div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-!-padding-bottom-1"></div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="travelling-to-and-from-work-what-support-do-you-need-4" name="travelling-to-and-from-work-what-support-do-you-need" type="radio"
                   value="I am not sure" {{ checked("travelling-to-and-from-work-what-support-do-you-need", "I am not sure") }}>
            <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-what-support-do-you-need-4">
              I do not know
            </label>
          </div>
        </div>

      </fieldset>
    </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post" id="travelsupportRedirect">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>




{% endblock %}
