{% extends "layout.html" %}

{% block pageTitle %}
Apply – Access to Work – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Benefits and financial support if you're disabled or have a health condition</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Get support in work if you have a disability or health condition (Access to Work)
      </h1>


      <h3 class="govuk-heading-s">
        Contents
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">What Access to Work is</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Eligibility</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Apply for an Access to Work grant</a>
        </li>
        <li>
          <a class="govuk-link" href="#">After you apply for the grant</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Claiming money from your grant</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Renew your grant</a>
        </li>
      </ul>

      <div class="govuk-!-padding-bottom-4"></div>

    </div>
  </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

          <div class="govuk-!-padding-bottom-4"></div>

          <h2 class="govuk-heading-m">
            Apply for an Access to Work grant
          </h2>

          <p><a href="#">Check you’re eligible</a> before you apply.</p>

          <p>You can apply for Access to Work online or by phone.</p>

          <p class="govuk-body">You’ll need to give:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your contact details</li>
            <li>your workplace address and postcode</li>
            <li>the name of a workplace contact who can confirm you work there (they will not be contacted without your permission)</li>
            <li>the email address or work phone number of your workplace contact</li>
            <li>your <a href="#">Unique Taxpayer Reference (UTR) number</a> (if you’re self-employed)</li>
            <li>information about how your condition affects your work and what support you think you need</li>
          </ul>

            <div class="govuk-inset-text">
              If you need the form in other formats, such as braille, large print or audio CD, call the Access to Work helpline.
            </div>

          <div class="govuk-!-padding-bottom-3"></div>

          <a href="/alpha-1h/do-you-need-support" role="button" draggable="false"
             class="govuk-button govuk-button--start" data-module="govuk-button">
            Apply online
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>

          <div class="govuk-!-padding-bottom-3"></div>

          <h2 class="govuk-heading-m">
            Apply by phone
          </h2>

          <p>You can apply by calling the Access to Work helpline. Make sure you have all the necessary details with you when you call.</p>

          <div class="govuk-!-padding-bottom-3"></div>

          <h3 class="govuk-heading-s">
            Access to Work helpline
          </h3>

          <div class="govuk-inset-text">
            <ul class="govuk-list">
              <li>Telephone: 0800 121 7479</li>
              <li>Textphone: 0800 121 7579</li>
              <li><a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479.
                Monday to Friday, 9am to 5pm</li>
              <li><a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the
                service</a>. Monday to Friday, 9am to 5pm</li>
              <li><a href="#">Find out about call charges</a></li>
            </ul>
          </div>

          <div class="govuk-!-padding-bottom-3"></div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-s">&#8592; Previous</h2>
            <p class="govuk-body"><a class="govuk-link"
              href="#">Eligibility</a></p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-s">&#8594; Next</h2>
            <p class="govuk-body"><a class="govuk-link" href="#">After you apply for the grant</a></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h3 class="govuk-heading-m" id="subsection-title">
              Related content
            </h3>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="#">
                    Easy read: get support in work if you have a disability or health condition (Access to Work)
                  </a>
                </li>
                <li>
                  <a href="#">
                    Reasonable adjustments for workers with disabilities or health conditions
                  </a>
                </li>
                <li>
                  <a href="#">
                    Definition of disability under the Equality Act 2010
                  </a>
                </li>
                <li>
                  <a href="#">
                    Disability rights
                  </a>
                </li>
                <li>
                  <a href="#">
                    Looking for work if you're disabled
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
