{% extends "layout-contact.html" %}

{% block pageTitle %}
What condition or disability do you have? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-conditions-and-disabilities/how-does-it-affect-you-at-work-1" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What conditions or disabilities do you have?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p class="govuk-body">This can include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>a physical disability</li>
                  <li>a mental health condition</li>
                  <li>a hearing or sight impairment</li>
                  <li>a learning disability or difference</li>
                  <li>an illness</li>
                  <li>a temporary condition</li>
                  <li>a developmental condition</li>
                  <li>any other condition, disability or illness</li>
                </ul>

                <p>You do not have to be medically diagnosed with a health condition or disability to be eligible.</p>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-form-group">
                  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="1h-your-health-condition-or-disability-1">
                    Names of conditions or disabilities
                  </label>
                  </h2>
                  <div id="1h-your-health-condition-or-disability-1-hint" class="govuk-hint">
                  You can add one or more. You can give information about how your conditions or disabilities affect you in the next step.
                  </div>
                  <textarea class="govuk-textarea" id="1h-your-health-condition-or-disability-1" name="1h-your-health-condition-or-disability-1"
                  rows="5" aria-describedby="1h-your-health-condition-or-disability-1-hint">{{ data['1h-your-health-condition-or-disability-1'] }}</textarea>
</div>


              </fieldset>
            </div>



        <div class="govuk-!-padding-bottom-1"></div>


          <input type="hidden" name="your-health-condition-or-disability-1" value="true">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>


{% endblock %}
