{% extends "layout-contact.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/your-conditions-and-disabilities/3">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">You have added 3 conditions or disabilities</h1>
<div class="govuk-form-group">
  <dl class="hmrc-add-to-a-list hmrc-add-to-a-list--short">

    <div class="hmrc-add-to-a-list__contents">
      <dt class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{ data['1h-your-health-condition-or-disability-1'] }}
      </dt>
      <dd class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="/alpha-1i/your-conditions-and-disabilities/1">
          <span aria-hidden="true">Change</span>
          <span class="govuk-visually-hidden">Change health condition or disability</span>
        </a>
      </dd>
      <dd class="hmrc-add-to-a-list__remove">
        <a class="govuk-link" href="#">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove health condition or disability from the list</span>
        </a>
      </dd>
    </div>
    <div class="hmrc-add-to-a-list__contents">
      <dt class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{ data['1h-your-health-condition-or-disability-2'] }}
      </dt>
      <dd class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="/alpha-1i/your-conditions-and-disabilities/2">
          <span aria-hidden="true">Change</span>
          <span class="govuk-visually-hidden">Change health condition or disability</span>
        </a>
      </dd>
      <dd class="hmrc-add-to-a-list__remove">
        <a class="govuk-link" href="#">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove health condition or disability from the list</span>
        </a>
      </dd>
    </div>
    <div class="hmrc-add-to-a-list__contents">
      <dt class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{ data['1h-your-health-condition-or-disability-3'] }}
      </dt>
      <dd class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="/alpha-1i/your-conditions-and-disabilities/3">
          <span aria-hidden="true">Change</span>
          <span class="govuk-visually-hidden">Change health condition or disability</span>
        </a>
      </dd>
      <dd class="hmrc-add-to-a-list__remove">
        <a class="govuk-link" href="#">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove health condition or disability from the list</span>
        </a>
      </dd>
    </div>
  </dl>

  <div class="govuk-!-padding-bottom-3"></div>

<form method="post" action="/alpha-1i/your-conditions-and-disabilities/how-does-it-affect-you-at-work-3">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another condition or disability ?
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-3" name="add-another-3" type="radio" value="Yes" {{
                 checked("add-another-3", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="add-another-3">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-3-2" name="add-another-3" type="radio" value="No" {{
                 checked("add-another-3", "No") }}>
          <label class="govuk-label govuk-radios__label" for="add-another-3-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="govuk-!-padding-bottom-1"></div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

  <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

</div>
</div>
</div>



{% endblock %}