{% extends "layout.html" %}

{% block pageTitle %}
Check your answers: travel during work – Access to Work – GOV.UK
{% endblock %}

{% if not inEditMode and casa.journeyPreviousUrl %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endif %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers</h1>

{% include "alpha-1i/travelling-during-work/check-your-answers-body.html" %}

  <form class="form" action="/alpha-1i/task-list" method="post">
    <input type="hidden" name="travel-during-work-check-your-answers" value="true">
    <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>
      </form>

{% endblock %}
