
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m">Travelling during work</h2>

{% if data['travel-during-work-screener'] =="I do not know" %}
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you need support to travel to other locations during your working day?
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['travel-during-work-screener'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-1i/travelling-during-work/screener">
        Change
        <span class="govuk-visually-hidden"> whether you need support to travel to other locations during your working day</span>
      </a>
    </dd>
  </div>

{% endif %}
{% if data['travel-during-work-screener'] =="Yes" %}



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you need support to travel to other locations during your working day?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travel-during-work-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/travelling-during-work/screener">
              Change
              <span class="govuk-visually-hidden"> wehether you need support to travel to other locations during your working day?</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How will support to travel during work meet your needs?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travel-during-work-support-you-may-need'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/travelling-during-work/support-you-may-need">
              Change
              <span class="govuk-visually-hidden"> how support to travel during work will meet your needs</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Which job do you need support to travel during work for?
          </dt>
          <dd class="govuk-summary-list__value">
            {% for feature in data['multi-job-tdw'] %}
              <li>{{ feature }}</li>
            {% else %}
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/travelling-during-work/support-you-may-need">
              Change
              <span class="govuk-visually-hidden"> which job you need support to travel during work for</span>
            </a>
          </dd>
        </div>

      </dl>
{% endif %}

  </div>
</div>

{% endblock %}
