{% if not number %}
{% set number = '1'%}
{% endif %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['employment-status'] =="true" %}

      <h2 class="govuk-heading-m">Employment details</h2>

    {% if data['1i-employment-status'+ number] =="Employed" %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employment status
          </dt>
          <dd class="govuk-summary-list__value">
            Employed
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment-status">
              Change
              <span class="govuk-visually-hidden"> your employment status</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company or organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['employer-name-'+ number] | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/employer-name">
              Change
              <span class="govuk-visually-hidden"> the name of the company or organisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job title
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['job-title'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/job-title">
              Change
              <span class="govuk-visually-hidden"> your job title</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['employment-job-description'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/job-description">
              Change
              <span class="govuk-visually-hidden"> your job description</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When did you start working at   {{ data['employer-name-'+ number] | capitalize }}?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['employment-start-day'] }}
            {% if (data['employment-start-month'] =='01') or (data['employment-start-month'] =='1') %} January {% endif%}
            {% if (data['employment-start-month'] =='02') or (data['employment-start-month'] =='2') %} February  {% endif%}
            {% if (data['employment-start-month'] =='03') or (data['employment-start-month'] =='3') %} March {% endif%}
            {% if (data['employment-start-month'] =='04') or (data['employment-start-month'] =='4') %} June {% endif%}
            {% if (data['employment-start-month'] =='05') or (data['employment-start-month'] =='5') %} May {% endif%}
            {% if (data['employment-start-month'] =='06') or (data['employment-start-month'] =='6') %} June {% endif%}
            {% if (data['employment-start-month'] =='07') or (data['employment-start-month'] =='7') %} July {% endif%}
            {% if (data['employment-start-month'] =='08') or (data['employment-start-month'] =='8') %} August {% endif%}
            {% if (data['employment-start-month'] =='09') or (data['employment-start-month'] =='9') %} September {% endif%}
            {% if data['employment-start-month'] =='10' %} October {% endif%}
            {% if data['employment-start-month'] =='11'%} November {% endif%}
            {% if data['employment-start-month'] =='12' %} December {% endif%}
             {{ data['employment-start-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/start-date">
              Change
              <span class="govuk-visually-hidden"> your job start date</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many hours do you work per week?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['hours per week'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/hours-per-week">
              Change
              <span class="govuk-visually-hidden"> how many hours you work per week</span>
              </a>
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which days of the week do you work?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['day-of-week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/days-of-week">
              Change
              <span class="govuk-visually-hidden"> which days of the week you work</span>
            </a>
        </dd>
      </div>


      {% if data['workplace-address-select-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['workplace-postcode-select'] =="220")
          or (data['workplace-postcode-select'] =="222")
          or (data['workplace-postcode-select'] =="224")
          or (data['workplace-postcode-select'] =="226")
          or (data['workplace-postcode-select'] =="228")
          or (data['workplace-postcode-select'] =="230")
          or (data['workplace-postcode-select'] =="232")
          or (data['workplace-postcode-select'] =="234")
          %}
          <ul class="govuk-list">
            <li>{{ data['workplace-postcode-select'] }} St Vincent Street,</li>
            <li>Glasgow,</li>
            <li>{{data["workplace-postcode"]}}</li>
          </ul>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-address">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}


      {% if data['employment-workplace-address-manual-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {{ data['workplace-address-line-1'] }}
            <br>
            {{ data['workplace-address-line-2'] }}
            <br>
            {{ data['workplace-address-town'] }}
            <br>
            {{ data['workplace-address-county'] }}
            <br>
            {{ data['workplace-address-postcode'] }}
            <br>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/address-manual">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many people work at your company or organisation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['1h-employment-employer-size'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/employer-size">
              Change
              <span class="govuk-visually-hidden"> how many people work at your company or organisation</span>
            </a>
          </dd>
        </div> -->
      </dl>

  <h2 class="govuk-heading-m">Workplace contact</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['workplace-name'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-contact">
          Change
          <span class="govuk-visually-hidden"> their full name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their job title
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['role-name'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-contact">
          Change
          <span class="govuk-visually-hidden"> their job title</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their email address
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['workplace-email'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-contact">
          Change
          <span class="govuk-visually-hidden"> their email address</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their phone number
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['workplace-phone'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-contact">
          Change
          <span class="govuk-visually-hidden"> their telephone number</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Do you give your permission for us to contact {{data['workplace-name']}}?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['permission-contact'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-1i/your-job-and-employer/{{number}}/employment/permission">
          Change
          <span class="govuk-visually-hidden"> whether you give your permission for us to contact {{data['workplace-name']}}?</span>
        </a>
      </dd>
    </div>
  </dl>

  <!-- <h2 class="govuk-heading-m">Additional employment</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you have another job?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['do-you-have-another-job'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-apply-1hb-employment-do-you-have-another-job">
          Change
          <span class="govuk-visually-hidden"> Do you have another job?</span>
        </a>
      </dd>
    </div>

  </dl> -->
{% endif %}

    {% if data['1i-employment-status'+ number] =="Self-employed" or data['1i-employment-status'+ number]=="Registered director of a limited company" or  data['1i-employment-status1']=="About to register as a director of a limited company"%}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment status
        </dt>
        <dd class="govuk-summary-list__value">
        {{data['1i-employment-status'+ number]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/employment-status">
            Change
            <span class="govuk-visually-hidden"> your employment status</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
        {{ data['job-title-'+ number] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-apply-1i/1h-self-employment-job-title">
            Change
            <span class="govuk-visually-hidden"> your job title</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job description
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['self-employment-job-description'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/job-description">
            Change
            <span class="govuk-visually-hidden"> your job description</span>
          </a>
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When did you start this job?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['self-employment-start-day'] }}
          {% if (data['self-employment-start-month'] =='01') or (data['self-employment-start-month'] =='1') %} January {% endif%}
       {% if (data['self-employment-start-month'] =='02') or (data['self-employment-start-month'] =='2') %} February  {% endif%}
       {% if (data['self-employment-start-month'] =='03') or (data['self-employment-start-month'] =='3') %} March {% endif%}
       {% if (data['self-employment-start-month'] =='04') or (data['self-employment-start-month'] =='4') %} June {% endif%}
       {% if (data['self-employment-start-month'] =='05') or (data['self-employment-start-month'] =='5') %} May {% endif%}
       {% if (data['self-employment-start-month'] =='06') or (data['self-employment-start-month'] =='6') %} June {% endif%}
       {% if (data['self-employment-start-month'] =='07') or (data['self-employment-start-month'] =='7') %} July {% endif%}
       {% if (data['self-employment-start-month'] =='08') or (data['self-employment-start-month'] =='8') %} August {% endif%}
       {% if (data['self-employment-start-month'] =='09') or (data['self-employment-start-month'] =='9') %} September {% endif%}
       {% if data['self-employment-start-month'] =='10' %} October {% endif%}
       {% if data['self-employment-start-month'] =='11'%} November {% endif%}
       {% if data['self-employment-start-month'] =='12' %} December {% endif%}
           {{ data['self-employment-start-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/start-date">
            Change
            <span class="govuk-visually-hidden"> your job start date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many hours do you work per week?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['hours per week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/hours-per-week">
            Change
            <span class="govuk-visually-hidden"> how many hours you work per week</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is your Unique Taxpayer Reference (UTR)?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['self-employment-utr-true'] =="true" %}
          {{ data['utr'] }}
          {% else %}
          <p>I do not have a UTR</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/utr">
            Change
            <span class="govuk-visually-hidden"> your Unique Taxpayer Reference (UTR)</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which days of the week do you work?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['day-of-week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/days-of-week">
              Change
              <span class="govuk-visually-hidden"> which days of the week you work</span>
              </a>
        </dd>
      </div>

      {% if data['self-employment-workplace-address-select-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['workplace-postcode-select'] =="220")
          or (data['workplace-postcode-select'] =="222")
          or (data['workplace-postcode-select'] =="224")
          or (data['workplace-postcode-select'] =="226")
          or (data['workplace-postcode-select'] =="228")
          or (data['workplace-postcode-select'] =="230")
          or (data['workplace-postcode-select'] =="232")
          or (data['workplace-postcode-select'] =="234")
          %}
          <ul class="govuk-list">
            <li>{{ data['workplace-postcode-select'] }} St Vincent Street,</li>
            <li>Glasgow,</li>
            <li>{{data["workplace-postcode"]}}</li>
          </ul>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/workplace-address">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

      {% if data['self-employment-workplace-address-manual-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {{ data['workplace-address-line-1'] }}
            <br>
            {{ data['workplace-address-line-2'] }}
            <br>
            {{ data['workplace-address-town'] }}
            <br>
            {{ data['workplace-address-county'] }}
            <br>
            {{ data['workplace-address-postcode'] }}
            <br>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/self-employed/address-manual">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

    </dl>


    <!-- <h2 class="govuk-heading-m">Additional employment</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have another job?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['do-you-have-another-job'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-apply-1hb-self-employment-do-you-have-another-job">
            Change
            <span class="govuk-visually-hidden"> Do you have another job?</span>
          </a>
        </dd>
      </div>
    </dl> -->
{% endif %}
    {% if data['1i-employment-status'+ number] =="About to start employment" %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment status
        </dt>
        <dd class="govuk-summary-list__value">
          About to start employment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/employment-status">
            Change
            <span class="govuk-visually-hidden"> your employment status</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company or organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['employer-name-about-'+number] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/employer-name">
            Change
            <span class="govuk-visually-hidden"> the name of the company or organisation</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What will your job title be at {{ data['employer-name-about-'+number] }}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['job-title-about-director-'+number] }}{{ data['job-title-about-employment-'+number] }}{{ data['job-title-'+ number] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/job-title">
            Change
            <span class="govuk-visually-hidden"> what your job title will be</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What will your job description be at {{ data['employer-name-about-'+number] }}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['employment-job-description'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/job-description">
            Change
            <span class="govuk-visually-hidden"> what your job description will be</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When will you be starting your new job at {{ data['employer-name-about-'+number] }}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['about-to-start-employment-start-date-day'] }}
          {% if (data['about-to-start-employment-start-date-month'] =='01') or (data['about-to-start-employment-start-date-month'] =='1') %} January {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='02') or (data['about-to-start-employment-start-date-month'] =='2') %} February  {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='03') or (data['about-to-start-employment-start-date-month'] =='3') %} March {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='04') or (data['about-to-start-employment-start-date-month'] =='4') %} June {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='05') or (data['about-to-start-employment-start-date-month'] =='5') %} May {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='06') or (data['about-to-start-employment-start-date-month'] =='6') %} June {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='07') or (data['about-to-start-employment-start-date-month'] =='7') %} July {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='08') or (data['about-to-start-employment-start-date-month'] =='8') %} August {% endif%}
       {% if (data['about-to-start-employment-start-date-month'] =='09') or (data['about-to-start-employment-start-date-month'] =='9') %} September {% endif%}
       {% if data['about-to-start-employment-start-date-month'] =='10' %} October {% endif%}
       {% if data['about-to-start-employment-start-date-month'] =='11'%} November {% endif%}
       {% if data['about-to-start-employment-start-date-month'] =='12' %} December {% endif%}
          {{ data['about-to-start-employment-start-date-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/start-date">
            Change
            <span class="govuk-visually-hidden"> your job start date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many hours will you work per week at {{ data['employer-name-about-'+number] }}?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['hours per week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/hours-per-week">
            Change
            <span class="govuk-visually-hidden"> how many hours you will work per week</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What days of the week will you work?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['day-of-week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/days-of-week">
            Change
            <span class="govuk-visually-hidden"> which days of the week you will work</span>
          </a>
        </dd>
      </div>


      {% if data['about-to-start-employment-workplace-address-select-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['workplace-postcode-select'] =="220")
          or (data['workplace-postcode-select'] =="222")
          or (data['workplace-postcode-select'] =="224")
          or (data['workplace-postcode-select'] =="226")
          or (data['workplace-postcode-select'] =="228")
          or (data['workplace-postcode-select'] =="230")
          or (data['workplace-postcode-select'] =="232")
          or (data['workplace-postcode-select'] =="234")
          %}
          <ul class="govuk-list">
            <li>{{ data['workplace-postcode-select'] }} St Vincent Street,</li>
            <li>Glasgow,</li>
            <li>{{data["workplace-postcode"]}}</li>
          </ul>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/workplace-address">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

      {% if data['about-to-start-employment-workplace-address-manual-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {{ data['workplace-address-line-1'] }}
            <br>
            {{ data['workplace-address-line-2'] }}
            <br>
            {{ data['workplace-address-town'] }}
            <br>
            {{ data['workplace-address-county'] }}
            <br>
            {{ data['workplace-address-postcode'] }}
            <br>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/address-manual">
            Change
            <span class="govuk-visually-hidden"> your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many people work at your company or organisation?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['1h-employment-employer-size'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/employer-size">
            Change
            <span class="govuk-visually-hidden"> how many people work at your company or organisation</span>
          </a>
        </dd>
      </div> -->
    </dl>


    <h2 class="govuk-heading-m">Workplace contact</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['workplace-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/workplace-contact">
            Change
            <span class="govuk-visually-hidden"> their full name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their job title
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['role-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/workplace-contact">
            Change
            <span class="govuk-visually-hidden"> their job title</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['workplace-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/workplace-contact">
            Change
            <span class="govuk-visually-hidden"> their email address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['workplace-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/workplace-contact">
            Change
            <span class="govuk-visually-hidden"> their telephone number</span>
          </a>
        </dd>
      </div>
    </dl>

    <!-- <h2 class="govuk-heading-m">Additional employment</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have another job?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['do-you-have-another-job'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-employment/do-you-have-another-job">
            Change
            <span class="govuk-visually-hidden"> Do you have another job?</span>
          </a>
        </dd>
      </div>
    </dl> -->
{% endif %}
    {% if data['1i-employment-status'+ number] =="About to start self-employment" %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment status
        </dt>
        <dd class="govuk-summary-list__value">
          About to start self-employment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/employment-status">
            Change
            <span class="govuk-visually-hidden"> what is your employment status</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What will your job title be?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['job-title-about-'+number] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/job-title">
            Change
            <span class="govuk-visually-hidden"> What will your job title be?</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job description
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['about-to-start-self-employment-job-description'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/job-description">
            Change
            <span class="govuk-visually-hidden"> what is your job title</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have a Unique Taxpayer Reference (UTR) number?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['about-to-start-self-employment-do-you-have-a-utr'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/do-you-have-a-utr">
            Change
            <span class="govuk-visually-hidden"> Do you have a Unique Taxpayer Reference (UTR) number?</span>
          </a>
        </dd>
      </div>

      {% if (data['about-to-start-self-employment-do-you-have-a-utr'] =="Yes") %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is your Unique Taxpayer Reference (UTR)?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['utr'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/utr">
            Change
            <span class="govuk-visually-hidden"> What is your Unique Taxpayer Reference (UTR)?</span>
          </a>
        </dd>
      </div>

      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When will you be starting your self-employment?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['about-to-start-self-employment-start-date-day'] }}
          {% if (data['about-to-start-self-employment-start-date-month'] =='01') or (data['about-to-start-self-employment-start-date-month'] =='1') %} January {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='02') or (data['about-to-start-self-employment-start-date-month'] =='2') %} February  {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='03') or (data['about-to-start-self-employment-start-date-month'] =='3') %} March {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='04') or (data['about-to-start-self-employment-start-date-month'] =='4') %} June {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='05') or (data['about-to-start-self-employment-start-date-month'] =='5') %} May {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='06') or (data['about-to-start-self-employment-start-date-month'] =='6') %} June {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='07') or (data['about-to-start-self-employment-start-date-month'] =='7') %} July {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='08') or (data['about-to-start-self-employment-start-date-month'] =='8') %} August {% endif%}
       {% if (data['about-to-start-self-employment-start-date-month'] =='09') or (data['about-to-start-self-employment-start-date-month'] =='9') %} September {% endif%}
       {% if data['about-to-start-self-employment-start-date-month'] =='10' %} October {% endif%}
       {% if data['about-to-start-self-employment-start-date-month'] =='11'%} November {% endif%}
       {% if data['about-to-start-self-employment-start-date-month'] =='12' %} December {% endif%}
          {{ data['about-to-start-self-employment-start-date-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/start-date">
            Change
            <span class="govuk-visually-hidden"> When will you be starting your self-employment?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How many hours do you think you'll work per week?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['hours per week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/hours-per-week">
            Change
            <span class="govuk-visually-hidden"> How many hours do you think you'll work per week?</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What days of the week will you work?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['day-of-week'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/days-of-week">
            Change
            <span class="govuk-visually-hidden"> What days of the week will you work?</span>
          </a>
        </dd>
      </div>

      {% if data['about-to-start-self-employment-workplace-address-select-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['workplace-postcode-select'] =="220")
          or (data['workplace-postcode-select'] =="222")
          or (data['workplace-postcode-select'] =="224")
          or (data['workplace-postcode-select'] =="226")
          or (data['workplace-postcode-select'] =="228")
          or (data['workplace-postcode-select'] =="230")
          or (data['workplace-postcode-select'] =="232")
          or (data['workplace-postcode-select'] =="234")
          %}
          <ul class="govuk-list">
            <li>{{ data['workplace-postcode-select'] }} St Vincent Street,</li>
            <li>Glasgow,</li>
            <li>{{data["workplace-postcode"]}}</li>
          </ul>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/workplace-address">
            Change
            <span class="govuk-visually-hidden"> what is your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

      {% if data['about-to-start-self-employment-workplace-address-manual-true'] =="true" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Workplace address
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            {{ data['workplace-address-line-1'] }}
            <br>
            {{ data['workplace-address-line-2'] }}
            <br>
            {{ data['workplace-address-town'] }}
            <br>
            {{ data['workplace-address-county'] }}
            <br>
            {{ data['workplace-address-postcode'] }}
            <br>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/address-manual">
            Change
            <span class="govuk-visually-hidden"> what is your workplace address</span>
          </a>
        </dd>
      </div>

      {% endif %}

    </dl>


    <!-- <h2 class="govuk-heading-m">Additional employment</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have another job?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['do-you-have-another-job'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/your-job-and-employer/{{number}}/about-to-start-self-employment/do-you-have-another-job">
            Change
            <span class="govuk-visually-hidden"> Do you have another job?</span>
          </a>
        </dd>
      </div>
    </dl> -->
    {% endif %}
    {% endif %}

  </div>

</div>


{% endblock %}
