{% extends "layout-contact.html" %}

{% block pageTitle %}
What is your employment status? – Access to Work – GOV.UK
{% endblock %}
{% if not number %}
{% set number = '1'%}
{% endif %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/{{number}}/employment-status" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What is your employment status?
                  </h1>
                </legend>
                <!-- <div id="1i-employment-status-hint" class="govuk-hint">
                  If you have more than one job, you will have to option to add another later on.
                </div> -->
<p>If you do not know, you can <a href="https://www.gov.uk/employment-status">find out more about different types of employment (opens in a new tab)</a>.</p>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1i-employment-status" name="1i-employment-status{{number}}"
                           type="radio" value="Employed" {{ checked("1i-employment-status"+ number, "Employed") }}>
                    <label class="govuk-label govuk-radios__label" for="1i-employment-status">
                      Employed
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1i-employment-status-2" name="1i-employment-status{{number}}"
                           type="radio" value="Self-employed" {{ checked("1i-employment-status"+ number, "Self-employed") }}>
                    <label class="govuk-label govuk-radios__label" for="1i-employment-status-2">
                      Self-employed such as a sole trader
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1i-employment-status-3"
                           name="1i-employment-status{{number}}"
                           type="radio" value="Registered director of a limited company" {{ checked("1i-employment-status"+ number, "Registered director of a limited companyt") }}>
                    <label class="govuk-label govuk-radios__label" for="1i-employment-status-3">
                  Registered director of a limited company
                    </label>
                  </div>

                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="employment-status" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
