{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Benefits and financial support if you're disabled or have a health condition</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Get support in work if you have a disability or health condition (Access to Work)
      </h1>


      <h3 class="govuk-heading-s">
        Contents
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Overview</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Eligibility</a>
        </li>
        <li>
          <a class="govuk-link" href="#">What you'll get</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Apply</a>
        </li>
        <li>
          <a class="govuk-link" href="#">After you've applied</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Renew</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Report a change of circumstances</a>
        </li>
      </ul>

      <div class="govuk-!-padding-bottom-4"></div>

    </div>
  </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

          <div class="govuk-!-padding-bottom-4"></div>

          <h2 class="govuk-heading-m">
            Apply for an Access to Work grant
          </h2>

          <p><a href="https://www.gov.uk/access-to-work/eligibility">Check you’re eligible</a> before you apply.</p>

          <p>You can apply for Access to Work online or by using the Access to Work helpline.</p>

          <p class="govuk-body">You’ll need to give:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your contact details</li>
            <li>your workplace address and postcode</li>
            <li>he name of a workplace contact who can confirm you work there (they will not be contacted without your permission)</li>
            <li>the email address or work phone number of your workplace contact</li>
            <li>information about how your condition affects your work and what help you think you need</li>
          </ul>

            <p>If you need the form in other formats, such as braille, large print or audio CD, call the Access to Work helpline.</p>

          <div class="govuk-!-padding-bottom-3"></div>

          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Apply online
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>

          <div class="govuk-!-padding-bottom-2"></div>

          <h2 class="govuk-heading-m">
            Apply with the Access to Work helpline
          </h2>

          <p>You can apply by using the Access to Work helpline. You can use the helpline in these ways:</p>

            <div class="govuk-body">
              <span>
              <ul class="govuk-list govuk-list--bullet">
            <li>Telephone: 0800 121 7479</li>
            <li>Textphone: 0800 121 7579</li>
              <li>If you cannot hear or speak on the phone, you can use <a href="https://www.relayuk.bt.com/">Relay
                UK</a> service: 18001 then 0800 121 7479</li>
                <li>British Sign Language (BSL) users can <a href="https://main.signvideo.me/app/8/10128?exitURL=https://www.gov.uk/access-to-work/apply">use the video relay service</a> (find out <a href="https://www.youtube.com/watch?v=xgWBXN5Bp_E">how to use the service)</a></li>
              </ul>
            </span>
            </div>

            <p>These services are available from Monday to Friday, 9am to 5pm.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">&#8592; Previous</h2>
          <p class="govuk-body"><a class="govuk-link" href="#">What you'll get</a></p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">&#8594; Next</h2>
          <p class="govuk-body"><a class="govuk-link" href="#">After you've applied</a></p>

        </div>
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h3 class="govuk-heading-m" id="subsection-title">
              Related content
            </h3>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="https://www.gov.uk/government/publications/easy-read-get-help-at-work-if-youre-disabled-or-have-a-health-condition-access-to-work">
                    Easy read: get support in work if you have a disability or health condition (Access to Work)
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">
                    Reasonable adjustments for workers with disabilities or health conditions
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">
                    Definition of disability under the Equality Act 2010
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/rights-disabled-person">
                    Disability rights
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/looking-for-work-if-disabled">
                    Looking for work if you're disabled
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
