{% extends "layout.html" %}

{% block pageTitle %}
You may not be eligible – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/alpha-1h/eligibility/are-you-a-civil-servant">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                You may not be eligible
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>

            <p>If you're a civil servant, your employer will provide support instead of Access to Work from April 2022. Contact your employer to arrange this.</p>

            <p>If you're not sure if you're a civil servant, speak to your employer.</p>

            <div class="govuk-inset-text">
              Access to Work can cover mental health support for civil servants, provided by <a href="https://able-futures.co.uk/individuals" class="govuk-link" rel="noreferrer noopener" target="_blank">Able Futures</a> and <a href="https://www.remploy.co.uk/employers/mental-health-and-wellbeing/workplace-mental-health-support-service-employers" class="govuk-link" rel="noreferrer noopener" target="_blank">Remploy</a> (both open in new tabs). You can apply to these suppliers directly for help, or call the Access to Work helpline.
            </div>

            <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m">If you think you might still be eligible</h2>

            <p>If you think you might still be eligible, contact us:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>telephone: 0800 121 7479</li>
              <li>email: <a href="#">atwosu.london@dwp.gov.uk</a></li>
            </ul>

            <h3 class="govuk-heading-m">If you cannot hear or speak on the phone</h3>

            <p>Dial 18001 then 0800 121 7479 to use the <a href="#">Relay UK service</a></p>

            <h3 class="govuk-heading-m">If you use British Sign Language (BSL)</h3>

            <p>You can use the <a href="#">video relay service</a>. Watch a video to find out <a
                    href="#">how to use the service</a>.<p>


            <h3 class="govuk-heading-m">If you need financial support</h3>

            <p class="govuk-body">The government can provide <a href="https://www.gov.uk/browse/benefits">benefits and financial support depending on your situation</a>.</p>


          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    

  </div>
</div>

  </div>

{% endblock %}
