{% extends "layout.html" %}

{% block pageTitle %}
Who owns this vehicle? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/changes-to-your-vehicle/requested-change" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">
          Who owns this vehicle?
        </label>
        </h1>

        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="changes-to-vehicle-someone-else-name">
            Their full name
          </label>
          <input class="govuk-input" id="changes-to-vehicle-someone-else-name"
                 name="changes-to-vehicle-someone-else-name" type="text" value="{{ data['changes-to-vehicle-someone-else-name'] }}"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="changes-to-vehicle-someone-else-relationship-to-you">
            Their relationship to you
          </label>
          <input class="govuk-input" id="changes-to-vehicle-someone-else-relationship-to-you"
                 name="changes-to-vehicle-someone-else-relationship-to-you" type="text" value="{{ data['changes-to-vehicle-someone-else-relationship-to-you'] }}"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="changes-to-vehicle-someone-else-phone">
            Their telephone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="changes-to-vehicle-someone-else-phone"
                 name="changes-to-vehicle-someone-else-phone" type="tel" autocomplete="tel" value="{{ data['changes-to-vehicle-someone-else-phone'] }}"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="changes-to-vehicle-someone-else-email">
            Their email address
          </label>
          <input class="govuk-input" id="changes-to-vehicle-someone-else-email"
                 name="changes-to-vehicle-someone-else-email" type="email" spellcheck="false"
                 aria-describedby="changes-to-vehicle-someone-else-email-hint" autocomplete="email" value="{{ data['changes-to-vehicle-someone-else-email'] }}">

          <div class="govuk-!-padding-bottom-1"></div>

          <div class="govuk-inset-text">
            You should let this person know that we will be contacting them about your application.
          </div>


        </div>

      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
