{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-3/#">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-eligibility-3/3b-current-benefits" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="current-benefits-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What benefits are you currently receiving?
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-1"></div>

            <div id="current-benefits-hint" class="govuk-hint">
              Select all that apply.
            </div>

            <div class="govuk-!-padding-bottom-1"></div>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="current-benefits" name="current-benefits" type="checkbox"
                       value="esa">
                <label class="govuk-label govuk-checkboxes__label" for="current-benefits">
                  Employment Support Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="current-benefits-2" name="current-benefits"
                       type="checkbox" value="incapacity">
                <label class="govuk-label govuk-checkboxes__label" for="current-benefits-2">
                  Incapacity Benefit
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="current-benefits-3" name="current-benefits"
                       type="checkbox" value="income">
                <label class="govuk-label govuk-checkboxes__label" for="current-benefits-3">
                  Income Support
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="current-benefits-4" name="current-benefits"
                       type="checkbox" value="sda">
                <label class="govuk-label govuk-checkboxes__label" for="current-benefits-4">
                  Severe Disability Allowance
                </label>
              </div>
              <div class="govuk-!-padding-bottom-1"></div>
              <div class="govuk-checkboxes__divider"><p>or</p></div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="current-benefits-5" name="current-benefits"
                       type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="current-benefits-5">
                  None of the above
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-0"></div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
