{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-3/3b-current-benefits">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you know what support you need at work?
                  </h1>
                </legend>

                <div id="do-you-know-what-support-you-need-hint" class="govuk-hint">
                  Examples of support include a job coach, special equipment and British Sign Language (BSL) interpreters. If you’re not sure what you need, we can help to find the option that works for you.
                </div>

                <div class="govuk-!-padding-bottom-1"></div>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-know-what-support-you-need" name="do-you-know-what-support-you-need" type="radio"
                           value="yes">
                    <label class="govuk-label govuk-radios__label" for="do-you-know-what-support-you-need">
                      Yes, I know what support I need
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-know-what-support-you-need-2" name="do-you-know-what-support-you-need" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="do-you-know-what-support-you-need-2">
                      No, I’m not sure what support I need
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
