{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-3/3b-current-benefits">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Based on your answers, you may be eligible for Access to Work
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>


            <p>To apply, you'll need to give:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your contact details</li>
              <li>your workplace address and postcode</li>
              <li>the name of a workplace contact who can confirm you work there (we will not contact them without your permission)</li>
              <li>the email address or work phone number of your workplace contact</li>
              <li>your <a href="https://draft-origin.publishing.service.gov.uk/find-lost-utr-number">unique tax
                reference number</a> (if you’re self-employed)</li>
              <li>information about how your condition affects your work and what help you think you need</li>
            </ul>

            <div class="govuk-!-padding-bottom-3"></div>

            <a href="/alpha-eligibility-3/3b-do-you-know-what-support-you-need" role="button" draggable="false"
               class="govuk-button govuk-button--start" data-module="govuk-button">
              Start application
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    

  </div>
</div>

  </div>

{% endblock %}
