{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-3/#">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <center>
        <a href="/alpha-eligibility-3/3a-current-benefits">
        <button class="govuk-button" data-module="govuk-button">
          <b>Screen 1</b>
        </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-3/3a-current-benefits-blue">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 2</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-3/3b-current-benefits">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 3</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-3/3b-current-benefits-blue">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 4</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-3/3c-current-benefits">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 5</b>
            </button></a>
        </center>


        <div class="govuk-!-padding-bottom-0"></div>


    </div>

  </div>
</div>

  </div>

{% endblock %}
