{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/1e-changes-to-your-vehicle-screener" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Does your condition mean that you need changes to the vehicle you use to travel to work?
                  </h1>
                </legend>

                <p>Changes to your vehicle means adding devices that will make driving or travelling easier.</p>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changes-to-your-vehicle-screener" name="changes-to-your-vehicle-screener"
                           type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="changes-to-your-vehicle-screener">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changes-to-your-vehicle-screener-2" name="changes-to-your-vehicle-screener"
                           type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="changes-to-your-vehicle-screener-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="changes-to-your-vehicle" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1e/1e-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

                <script>
                {
                value: "Yes",
                text: "Yes",
                checked: checked("workplace-adaptations-screener", "Yes")
                },
                {
                value: "No",
                text: "No",
                checked: checked("workplace-adaptations-screener", "No")
                }
                </script>


{% endblock %}
