{% extends "layout.html" %}

{% block pageTitle %}
Would you like support completing this application? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-contact-preferences">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/1e-contacting-you-reasonable-adjustment-check-your-answers" method="post">

      <div class="govuk-form-group">
        <div class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              If you find it difficult to hear or speak on the phone
            </h1>
          </legend>
          <p>We can contact you by email as a reasonable adjustment. This must be a personal email address, not a work email address.</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="email-reasonable-adjustment-hint">

              <div class="govuk-!-padding-bottom-1"></div>

                <h3 class="govuk-heading-m">Confirm your personal email address</h3>

              <div class="govuk-form-group">
                <label class="govuk-label" for="email-reasonable-adjustment">
                  Personal email address
                </label>
                <input class="govuk-input" id="email-reasonable-adjustment" name="email-reasonable-adjustment" type="email"
                       spellcheck="false" aria-describedby="email-reasonable-adjustment-hint" autocomplete="email">
              </div>
              <div class="govuk-!-padding-bottom-2"></div>

            </fieldset>
          </div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="contacting-you-email" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1e/1e-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
