{% extends "layout.html" %}

{% block pageTitle %}
Would you like support completing this application? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-benefits">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/1e-esa" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Are you receiving Employment Support Allowance (ESA)?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1e-esa" name="1e-esa"
                           type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="1e-esa">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1e-esa-2" name="1e-esa"
                           type="radio" value="yes-but">
                    <label class="govuk-label govuk-radios__label" for="1e-esa-2">
                      Yes, but I will stop receiving ESA when I start a new job soon
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1e-esa-3" name="1e-esa"
                           type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="1e-esa-3">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
