{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-employment-do-you-have-another-job">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers</h1>


{% include "alpha-apply-1e/1e-employment-check-your-answers-everything-body.html" %}

  <form class="form" action="/alpha-apply-1e/1e-task-list" method="post">
    <input type="hidden" name="employment-check-your-answers-everything" value="true">
  <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>

{% endblock %}
