{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/1e-support-worker-screener" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Does your condition mean that you need a support worker at work?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p>This could be things like note-takers and British Sign Language (BSL) interpreters.</p>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                       Types of support worker
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body">A support worker could be:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>BSL interpreter</li>
                      <li>note-taker</li>
                      <li>carer</li>
                      <li>counsellor</li>
                      <li>driver</li>
                      <li>job aide</li>
                      <li>job coach</li>
                      <li>mentor</li>
                      <li>personal reader</li>
                      <li>travel buddy</li>
                      <li>other types of support worker</li>
                    </ul>
                  </div>
                </details>


                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="support-worker-screener" name="support-worker-screener"
                           type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="support-worker-screener">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="support-worker-screener-2"
                           name="support-worker-screener"
                           type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="support-worker-screener-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1e/1e-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

                <script>
                {
                value: "Yes",
                text: "Yes",
                checked: checked("support-worker-screener", "Yes")
                },
                {
                value: "No",
                text: "No",
                checked: checked("support-worker-screener", "No")
                }
                </script>

{% endblock %}
