{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-3">Back</a>
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">You have provided 3 quotes for your support worker</h1>

<div class="govuk-!-padding-bottom-3"></div>

<h1 class="govuk-heading-m">First quote for {{ data['type-of-support-worker'] }}</h1>

<div class="govuk-form-group">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Support worker provider
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-provider-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-1">
          Change<span class="govuk-visually-hidden"> Support worker provider</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Cost per hour
      </dt>
      <dd class="govuk-summary-list__value">
        £ {{ data['support-worker-cost-per-hour-1'] }} per hour
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-1">
          Change<span class="govuk-visually-hidden"> Cost per hour</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Have you worked with this support worker provider before?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-worked-with-them-before-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-1">
          Change<span class="govuk-visually-hidden"> Have you worked with this support worker provider before?</span>
        </a>
      </dd>
    </div>
  </dl>

  <h1 class="govuk-heading-m">Second quote for {{ data['type-of-support-worker'] }}</h1>

  <div class="govuk-form-group">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support worker provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-provider-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-2">
            Change<span class="govuk-visually-hidden"> Support worker provider</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost per hour
        </dt>
        <dd class="govuk-summary-list__value">
          £ {{ data['support-worker-cost-per-hour-2'] }} per hour
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-2">
            Change<span class="govuk-visually-hidden"> Cost per hour</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you worked with this support worker provider before?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-worked-with-them-before-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-2">
            Change<span class="govuk-visually-hidden"> Have you worked with this support worker provider before?</span>
          </a>
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Third quote for {{ data['type-of-support-worker'] }}</h1>

    <div class="govuk-form-group">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Support worker provider
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-provider-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-3">
              Change<span class="govuk-visually-hidden"> Support worker provider</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost per hour
          </dt>
          <dd class="govuk-summary-list__value">
            £ {{ data['support-worker-cost-per-hour-3'] }} per hour
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-3">
              Change<span class="govuk-visually-hidden"> Cost per hour</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you worked with this support worker provider before?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-worked-with-them-before-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-apply-1e/1e-support-worker-quote-long-term-3">
              Change<span class="govuk-visually-hidden"> Have you worked with this support worker provider before?</span>
            </a>
          </dd>
        </div>
      </dl>


<form method="post" action="/alpha-apply-1e/1e-support-worker-long-term-hmrc-table-4">

  <div class="govuk-!-padding-bottom-1"></div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

{% endblock %}