{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-do-you-need-support-at-work">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/#" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="type-of-support-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of support do you need at work?
              </h1>
            </legend>
            <div id="type-of-support-hint" class="govuk-hint">
              Select all that apply:
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="specialist-equipment" name="specialist-equipment" type="checkbox"
                       value="equipment">
                <label class="govuk-label govuk-checkboxes__label" for="specialist-equipment">
                  Specialist equipment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="workplace-2" name="workplace" type="checkbox"
                       value="support-worker">
                <label class="govuk-label govuk-checkboxes__label" for="workplace-2">
                  Changes to workplace and equipment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="support-workers-3" name="support-workers" type="checkbox"
                       value="workplace">
                <label class="govuk-label govuk-checkboxes__label" for="support-workers-3">
                  Support workers
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mental-health-4" name="mental-health" type="checkbox"
                       value="travel-in-work">
                <label class="govuk-label govuk-checkboxes__label" for="mental-health-4">
                  Mental health support
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="travelling-5" name="travelling" type="checkbox"
                       value="mental-health">
                <label class="govuk-label govuk-checkboxes__label" for="travelling-5">
                  Travelling to and from work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="travelling-at-work-6" name="travelling-at-work" type="checkbox"
                       value="mental-health">
                <label class="govuk-label govuk-checkboxes__label" for="travelling-at-work-6">
                  Travelling at work
                </label>
              </div>
              <div class="govuk-checkboxes__divider"><p>or</p></div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="something-else-7" name="something-else" type="checkbox"
                       value="something-else"
                       data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="something-else-7">
                  Something else
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
