{% extends "layout-contact.html" %}

{% block pageTitle %}
Do you have another job? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/your-job-and-employer/about-to-start-employment/workplace-contact">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/check-your-answers-everything"
          method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Will you have another job at the same time?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-have-another-job" name="do-you-have-another-job"
                           type="radio" value="Yes" {{ checked("do-you-have-another-job", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="do-you-have-another-job">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-have-another-job-2"
                           name="do-you-have-another-job"
                           type="radio" value="No" {{ checked("do-you-have-another-job", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="do-you-have-another-job-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>


{% endblock %}
