{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-do-you-need-support-at-work" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you need support at work?
            </h1>
          </legend>

          <div id="do-you-need-support-at-work-hint" class="govuk-hint">
            Support at work includes things like support workers and mental health support. We will ask you about travelling to work later in the application.</div>

          <div class="govuk-!-padding-bottom-2"></div>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-need-support-at-work" name="do-you-need-support-at-work"
                     type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="do-you-need-support-at-work">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-need-support-at-work-2" name="do-you-need-support-at-work"
                     type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="do-you-need-support-at-work-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
