{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-employment-status">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-about-to-start-employment-job-description" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="job-title">
          What will your job title be?
        </label>
        </h1>
        <input class="govuk-input" id="job-title" name="job-title" type="text">
      </div>

      <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
