{% extends "layout.html" %}

{% block pageTitle %}
What will your job description be? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-about-to-start-employment-job-title">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-about-to-start-employment-start-date" method="post">


      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="employment-job-description">
            What will your job description be?
          </label>
          </h1>
          <p>Provide a short overview of the work that you'll do.</p>

          <p class="govuk-body">You can include, for example:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>skills</li>
            <li>responsibilities</li>
            <li>day-to-day activities</li>
          </ul>
          <textarea class="govuk-textarea govuk-js-character-count" id="employment-job-description"
                    name="employment-job-description" rows="5"
                    aria-describedby="employment-job-description-info employment-job-description-hint"></textarea>
        </div>

        <div id="self-employment-job-description-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 200 characters
        </div>

      </div>



      <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
