{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-contacting-you-selecting-time" method="post">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="telephone-number-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                          We'll contact you about your application by telephone
                      </h1>
                    </legend>

                      <div id="telephone-number-hint" class="govuk-hint">
                          This must be a personal telephone number, not a work telephone number.
                      </div>

                      <div class="govuk-!-padding-bottom-1"></div>

                      <div class="govuk-form-group">
                          <label class="govuk-label" for="telephone-number">
                              <b>UK telephone number</b>
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>

                  </fieldset>
                </div>

        <p><a href="/alpha-apply-1f/1f-contacting-reasonable-adjustment-email" input type="hidden"
              name="contacting-you-email" value="true">I find it difficult to hear or speak
            on the telephone</a></p>

        <div class="govuk-!-padding-bottom-3"></div>

      <form class="form" action="/url/of/next/page" method="post">
          <input type="hidden" name="contacting-you-phone" value="true">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

    </form>


  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
