{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-contact-details-phone-both">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-contact-someone-else" method="post">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="email-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What is your email address?
                      </h1>
                    </legend>

                      <div id="email-hint" class="govuk-hint">
                          This must be a personal email address, not a work email address. This will be used to contact you about your application.
                      </div>

                      <div class="govuk-!-padding-bottom-1"></div>

                      <div class="govuk-form-group">
                          <label class="govuk-label" for="email">
                              Email address
                          </label>
                          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                      </div>
                  </fieldset>
                </div>

                  </fieldset>
                </div>
</div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

<p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

    </form>


  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
