{% extends "layout.html" %}

{% block pageTitle %}
What is your employment status? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-employment-status" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What is your employment status?
                  </h1>
                </legend>
                <div id="1f-employment-status-hint" class="govuk-hint">
                  If you have more than one job, you'll have to option to add another later on.
                </div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1f-employment-status" name="1f-employment-status"
                           type="radio" value="Employed">
                    <label class="govuk-label govuk-radios__label" for="1f-employment-status">
                      Employed
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1f-employment-status-2" name="1f-employment-status"
                           type="radio" value="Self-employed">
                    <label class="govuk-label govuk-radios__label" for="1f-employment-status-2">
                      Self-employed
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1f-employment-status-3"
                           name="1f-employment-status"
                           type="radio" value="About to start employment">
                    <label class="govuk-label govuk-radios__label" for="1f-employment-status-3">
                      About to start employment
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1f-employment-status-4"
                           name="1f-employment-status"
                           type="radio" value="About to start self-employment">
                    <label class="govuk-label govuk-radios__label" for="1f-employment-status-4">
                      About to start self-employment
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="employment-status" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
