{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-task-list">Back</a>
{% endblock %}

{% block content %}

      <h1 class="govuk-heading-l">Check your answers</h1>

          {% include "alpha-apply-1f/1f-your-details-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-your-health-condition-or-disability-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-employment-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-contacting-you-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-specialist-equipment-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-support-worker-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-mental-health-support-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-travelling-to-and-from-work-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-travel-during-work-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-workplace-adaptations-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-changes-to-your-vehicle-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-extra-information-check-your-answers-body.html" %}

      <form class="form" action="/alpha-apply-1f/1f-declaration" method="post">
         <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
         </button>
      </form>


{% endblock %}
