{% extends "layout.html" %}

{% block pageTitle %}
Check your answers: mental health support – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-mental-health-support-screener">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if data ['task-list-completed'] !=="true" %}
      <h1 class="govuk-heading-l">Check your answers</h1>
      {% endif %}

      <h2 class="govuk-heading-m">Mental health support</h2>

      {% if data['mental-health-support-screener'] =="Yes" %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you need mental health support at work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mental-health-support-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1f/1f-mental-health-support-screener">
              Change
              <span class="govuk-visually-hidden"> Do you need mental health support at work?</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}
      </div>
    </div>



  <form class="form" action="/alpha-apply-1f/1f-task-list" method="post">
      <input type="hidden" name="mental-health-check-your-answers" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>

{% endblock %}
