{% extends "layout.html" %}

{% block pageTitle %}
Print answers – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{% set print = true %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Application information</h1>

<p>These are the details of the application you are submitting. You can also save and print a copy of your claim
    submission.</p>

        <form>
        <input type="button" class="govuk-button govuk-!-display-none-print" data-module="govuk-button" value="Print this page" onClick="window.print()">
        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
</div>

          {% include "alpha-apply-1f/1f-your-details-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-your-health-condition-or-disability-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-employment-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-contacting-you-check-your-answers-everything-body.html" %}

          {% include "alpha-apply-1f/1f-specialist-equipment-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-support-worker-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-mental-health-support-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-travelling-to-and-from-work-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-travel-during-work-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-workplace-adaptations-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-changes-to-your-vehicle-check-your-answers-body.html" %}

          {% include "alpha-apply-1f/1f-extra-information-check-your-answers-body.html" %}


{% endblock %}
