{% extends "layout.html" %}

{% block pageTitle %}
You have added an item of specialist equipment – Access to Work – GOV.UK
{% endblock %}

{% if not inEditMode and casa.journeyPreviousUrl %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endif %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You have added 1 item of specialist equipment</h1>

<div class="govuk-form-group">
  <dl class="hmrc-add-to-a-list hmrc-add-to-a-list--short">

    <div class="hmrc-add-to-a-list__contents">
      <dt class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{ data['specialist-equipment-type-1'] }}
      </dt>
      <dd class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="/alpha-apply-1f/1f-specialist-equipment-type-of-equipment-1">
          <span aria-hidden="true">Change</span>
          <span class="govuk-visually-hidden">Change specialist equipment</span>
        </a>
      </dd>
      <dd class="hmrc-add-to-a-list__remove">
        <a class="govuk-link" href="#">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove specialist equipment from the list</span>
        </a>
      </dd>
    </div>


  </dl>
</div>

    <form method="post" action="/alpha-apply-1f/1f-specialist-equipment-hmrc-table-1">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-special-equipment-1-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another item?
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-special-equipment-1" name="add-special-equipment-1" type="radio"
                 value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-special-equipment-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-special-equipment-1-2" name="add-special-equipment-1" type="radio"
                 value="No">
          <label class="govuk-label govuk-radios__label" for="add-special-equipment-1-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    <input type="hidden" name="specialist-equipment-hmrc-true" value="true">
    Save and continue
  </button>
   </form>

    <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

</div>
</div>



{% endblock %}
