{% extends "layout.html" %}

{% block pageTitle %}
Providing quotes for this support – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-travelling-to-and-from-work-locations-taxi">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-travelling-to-and-from-work-providing-quotes-taxi" method="post">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">Providing quotes for the cost of this support</h1>

        <p>We ask for 3 quotes so that we can work out the value of the grant to pay for your travel to work support.</p>

        <p class="govuk-body">You'll need to give:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the name of the taxi company</li>
          <li>the cost per journey</li>
        </ul>

        <div class="govuk-inset-text">
          It will speed up the application process if you can give them now, but providing quotes is optional at this stage. We will ask for them at a later date if you cannot give them now.
        </div>

        <div class="govuk-!-padding-bottom-1"></div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you have quotes for the support you need to travel to work?
            </h2>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travelling-to-and-from-work-providing-quotes-taxi" name="travelling-to-and-from-work-providing-quotes-taxi" type="radio" value="Yes, I have quotes">
              <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-providing-quotes-taxi">
                Yes, I have quotes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travelling-to-and-from-work-providing-quotes-taxi-2" name="travelling-to-and-from-work-providing-quotes-taxi" type="radio" value="No, I do not have quotes">
              <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-providing-quotes-taxi-2">
                No, I do not have quotes
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
