{% extends "layout.html" %}

{% block pageTitle %}
What is your telephone number? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-home-address-select">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-what-is-your-email" method="post">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="telephone-number-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                          What is your telephone number?
                      </h1>
                    </legend>

                      <div id="telephone-number-hint" class="govuk-hint">
                          Give a personal mobile telephone number if you can, so that you can also receive text message updates about your application.
                      </div>

                      <div class="govuk-!-padding-bottom-1"></div>

                      <div class="govuk-form-group">
                          <label class="govuk-label" for="telephone-number">
                              <b>UK telephone number</b>
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>

                  </fieldset>
                </div>


      <form class="form" action="/url/of/next/page" method="post">
          <input type="hidden" name="contacting-you-phone" value="true">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

    </form>


  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
