{% extends "layout.html" %}

{% block pageTitle %}
What change to your workplace do you need? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-workplace-adaptations-do-you-know-what-you-need">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1f/1f-workplace-adaptations-do-you-need-another-change" method="post">

      <h1 class="govuk-heading-l">Changes to workplace</h1>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="what-change-to-workplace">
          What change to your workplace do you need?
        </label>
        </h2>
        <div id="what-change-to-workplace-hint" class="govuk-hint">
          For example, 'a wheelchair ramp'. If you would like more than one change to your workplace, you will have
          the option to add another one in the next step.</div>
        <input class="govuk-input" id="what-change-to-workplace" name="what-change-to-workplace" type="text" aria-describedby="what-change-to-workplace-hint">
      </div>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="300">
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s"
                                                 for="workplace-adaptations-how-will-this-meet-your-needs">
            How will this change meet your needs?
          </label>
          </h2>
          <div id="workplace-adaptations-how-will-this-meet-your-needs-hint" class="govuk-hint">
            You should include the effect of not currently having this change at your workplace.</div>
          <textarea class="govuk-textarea govuk-js-character-count" id="workplace-adaptations-how-will-this-meet-your-needs" name="workplace-adaptations-how-will-this-meet-your-needs" rows="5" aria-describedby="workplace-adaptations-how-will-this-meet-your-needs-info workplace-adaptations-how-will-this-meet-your-needs-hint"></textarea>
        </div>

        <div id="workplace-adaptations-how-will-this-meet-your-needs-info" class="govuk-hint govuk-character-count__message" aria-live="workplace-adaptations-how-will-this-meet-your-needs">
          You can enter up to 300 characters
        </div>

      </div>

      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1f/1f-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
