
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

{% if data['workplace-adaptations-screener'] =="Yes" %}

    <h2 class="govuk-heading-m">Changes to workplace</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Does your condition mean that you would benefit from physical changes at your workplace?
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['workplace-adaptations-screener'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-apply-1f/1f-workplace-adaptations-screener">
        Change
        <span class="govuk-visually-hidden"> Does your condition mean that you would benefit from physical changes at your workplace?</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you know what physical changes should be made at your workplace to support your needs?
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['workplace-adaptations-do-you-know-what-you-need'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-apply-1f/1f-workplace-adaptations-do-you-know-what-you-need">
        Change
        <span class="govuk-visually-hidden"> Do you know what physical changes should be made at your workplace to support your needs?</span>
      </a>
    </dd>
  </div>

  {% if data['workplace-adaptations-do-you-know-what-you-need'] =="Yes, I know what changes should be made" %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What change to your workplace do you need?
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['what-change-to-workplace'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-apply-1f/1f-workplace-adaptations-details">
        Change
        <span class="govuk-visually-hidden"> What change to your workplace do you need?</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Tell us about how this change will meet your needs
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['workplace-adaptations-how-will-this-meet-your-needs'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-apply-1f/1f-workplace-adaptations-details">
        Change
        <span class="govuk-visually-hidden"> Tell us about how this change will meet your needs</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you need another physical change to be made to your workplace?
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="/alpha-apply-1f/1f-workplace-adaptations-do-you-need-another-change">
        Change
        <span class="govuk-visually-hidden"> Do you need another physical change to be made to your workplace?</span>
      </a>
    </dd>
  </div>

  <div class="govuk-!-padding-bottom-7"></div>

  {% elseif (data['workplace-adaptations-do-you-know-what-you-need'] =="No, I do not know what changes should be made") %}

</dl>
{% endif %}
{% endif %}

  </div>
</div>

{% endblock %}
