{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1f/1f-national-insurance-number">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers: your details</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1d/1d-what-is-your-full-name">
              Change
              <span class="govuk-visually-hidden"> what is your full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1f/1f-what-is-your-date-of-birth">
              Change
              <span class="govuk-visually-hidden"> what is your date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
            <li>{{ data['claimant-postcode-select'] }} St Vincent Street,</li>
              <li>Glasgow,</li>
              <li>{{data["claimant-postcode"]}}</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1f/1f-home-address-select">
              Change
              <span class="govuk-visually-hidden"> what is your address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1f/1f-what-is-your-email">
              Change
              <span class="govuk-visually-hidden"> what is your email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1f/1f-national-insurance-number">
              Change
              <span class="govuk-visually-hidden"> what is your national insurance number</span>
            </a>
          </dd>
        </div>
      </dl>
      </div>
    </div>

  <form class="form" action="/alpha-apply-1f/1f-task-list" method="post">
    <input type="hidden" name="your-details-check-your-answers" value="true">
  <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>


  </div>
{% endblock %}
