{% extends "layout.html" %}

{% block pageTitle %}
Is there anything else you'd like to tell us? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/anything-else-you-would-like-to-tell-us/screener" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Is there anything else that you would like to tell us?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p>You can tell us anything else that you think we should know as part of your application, that you have not mentioned already.</p>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="extra-information-screener" name="extra-information-screener"
                           type="radio" value="Yes" {{ checked("extra-information-screener", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="extra-information-screener">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="extra-information-screener-2"
                           name="extra-information-screener"
                           type="radio" value="No" {{ checked("extra-information-screener", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="extra-information-screener-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="extra-information-screener-task-list" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
