{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}

{% set print = false %}

      <h1 class="govuk-heading-l">Check your answers</h1>

          {% include "alpha-1i/your-details/check-your-answers-body.html" %}

          {% include "alpha-1i/how-we-contact-you/check-your-answers-body.html" %}

          {% include "alpha-1i/your-conditions-and-disabilities/check-your-answers-body.html" %}

          {% include "alpha-1i/your-job-and-employer/check-your-answers-everything-body.html" %}

          {% include "alpha-1i/equipment-adaptations-and-software/check-your-answers-body.html" %}

          {% include "alpha-1i/support-workers/check-your-answers-body.html" %}

          {% include "alpha-1i/mental-health-support/check-your-answers-body.html" %}

          {% include "alpha-1i/travelling-to-and-from-work/check-your-answers-body.html" %}

          {% include "alpha-1i/travelling-during-work/check-your-answers-body.html" %}

          {% include "alpha-1i/changes-to-your-workplace/check-your-answers-body.html" %}

          {% include "alpha-1i/changes-to-your-vehicle/check-your-answers-body.html" %}

          {% include "alpha-1i/anything-else-you-would-like-to-tell-us/check-your-answers-body.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">
            You can also <a href="/alpha-1i/print-answers" class="govuk-link" rel="noreferrer noopener"
                            target="_blank">save and print a
            copy of your answers (opens in a new tab)</a>.
        </div>

        <div class="govuk-!-padding-bottom-4"></div>

      <form class="form" action="/alpha-1i/declaration" method="post">
         <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
         </button>
      </form>

    </div>
</div>


{% endblock %}
