{% extends "layout-contact.html" %}

{% block pageTitle %}
Complete your application – Access to Work – GOV.UK
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Access to Work application
      </h1>

      <!-- <h2 class="govuk-heading-m">
        Application incomplete
      </h2>

      <!-- <p>There are 4 sections and you can complete the sections in any order.</p>

      <p>You'll have 24 hours to complete this application – after this, the screen will refresh and you'll have to enter your information again.</p> -->
  <!-- <p>You have completed 0 of 12 tasks.</p> -->
      <div class="govuk-!-padding-bottom-2"></div>

      <ol class="app-task-list">

        <li>
          <h3 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About you
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if (data ['check-your-answers'] =="true")%}
                <a href="/alpha-1i/your-details/check-your-answers" aria-describedby="your-details-status">
                  Your details
                </a>
                {% else %}
                <a href="/alpha-1i/your-details/what-is-your-name" aria-describedby="your-details-status">
                  Your details
                </a>
                {% endif %}
              </span>
              <strong>
              {%if data['what-is-your-name'] !=="true" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
              {% elseif (data ['what-is-your-name'] =="true") and (data ['check-your-answers'] =="true") %}
              <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
              {% elseif data ['what-is-your-name'] =="true" %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
              {% endif %}
              </strong>
            </li>

            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                {% if (data ['contacting-you-check-your-answers'] =="true")%}
                <a href="/alpha-1i/how-we-contact-you/check-your-answers" aria-describedby="your-contact-details-status">
                  How we contact you
                </a>
                {% else %}
                <a href="/alpha-1i/how-we-contact-you/contacting-you-about-your-application" aria-describedby="your-contact-details-status">
                  How we contact you
                </a>
                {% endif %}
                </span>
              <strong>
                {%if data['contacting-you-about-your-application-task-list'] !=="true" %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% elseif (data ['contacting-you-about-your-application-task-list'] =="true") and (data ['contacting-you-check-your-answers'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif data ['contacting-you-about-your-application-task-list'] =="true" %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% endif %}
              </strong>
            </li>

            <li class="app-task-list__item">

              <span class="app-task-list__task-name">
                {% if (data ['your-health-condition-or-disability-check-your-answers-everything'] =="true")%}
                <a href="/alpha-1i/your-conditions-and-disabilities/check-your-answers" aria-describedby="your-disability-status">
                  Your conditions and disabilities
                </a>
                {% else %}
                <a href="/alpha-1i/your-conditions-and-disabilities/1"
                   aria-describedby="your-disability-status">
                  Your conditions and disabilities
                </a>
                {% endif %}
              </span>

              <strong>
                {%if data['your-health-condition-or-disability-1'] !=="true" %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% elseif (data ['your-health-condition-or-disability-1'] =="true") and (data
                ['your-health-condition-or-disability-check-your-answers-everything'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif data ['your-health-condition-or-disability-1'] =="true" %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% endif %}
              </strong>
            </li>

          </ul>
        </li>

        <li>
          <h3 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Employment
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                {% if (data ['employment-check-your-answers-everything'] =="true")%}
                <a href="/alpha-1i/your-job-and-employer/check-your-answers-everything"
                   aria-describedby="your-employment-details-status">
                  Your job and employer
                </a>
                {% else %}
                <a href="/alpha-1i/your-job-and-employer/employment-status"
                   aria-describedby="your-employment-details-status">
                  Your job and employer
                </a>
                {% endif %}
                </span>
              <strong>
                {%if data['employment-status'] !=="true" %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% elseif (data ['employment-status'] =="true") and (data ['employment-check-your-answers-everything']
                =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ['employment-status'] =="true") and (data ['self-employment-check-your-answers-everything'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ['employment-status'] =="true") and (data ['about-to-start-employment-check-your-answers-everything'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ['employment-status'] =="true") and (data ['about-to-start-self-employment-check-your-answers-everything'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif data ['employment-status'] =="true" %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% endif %}
              </strong>
            </li>
          </ul>
        </li>

        <li>
          <h3 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Support
          </h3>

          <ul class="app-task-list__items">

            <p>Complete these sections to tell us about the types of support you need from Access to Work.</p>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if not data['employment-check-your-answers-everything']%}Equipment, adaptations and software{% else %}
                {% if ((data ["specialist-equipment-screener"]) =="No")%}
                <a href="/alpha-1i/equipment-adaptations-and-software/screener" aria-describedby="specialist-equipment-status">
                  Equipment, adaptations and software
                </a>
                {% elseif (data ["specialist-equipment-check-your-answers-task-list"] =="true")%}
                <a href="/alpha-1i/equipment-adaptations-and-software/check-your-answers"
                   aria-describedby="specialist-equipment-status">
                  Equipment, adaptations and software
                </a>
                {% else %}
                <a href="/alpha-1i/equipment-adaptations-and-software/screener" aria-describedby="specialist-equipment-status">
                  Equipment, adaptations and software
                </a>
                {% endif %}  {% endif %}
              </span>
            <strong>
              {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
              {% else %}
              {% if (data ["specialist-equipment-screener"] =="No") or (data ['specialist-equipment-check-your-answers-task-list'] =="true") or (data ["specialist-equipment-screener"] =="I do not know")%}
              <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
              {% elseif (data ["specialist-equipment-screener"] =="Yes")%}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
              {% endif %}
              {% endif %}
            </strong>
          </li>

<!--            <li>-->
<!--              <span class="app-task-list__task-name">-->
<!--                {% if (data ["specialist-equipment-screener"]) or (data ['specialist-equipment-check-your-answers-2'] =="true")%}-->
<!--                <a href="/alpha-1i/equipment-adaptations-and-software/check-your-answers-2" aria-describedby="specialist-equipment-status">-->
<!--                  Equipment, adaptations and software-->
<!--                </a>-->
<!--                {% else %}-->
<!--                 <a href="/alpha-1i/equipment-adaptations-and-software/screener" aria-describedby="specialist-equipment-status">-->
<!--                  Equipment, adaptations and software-->
<!--                </a>-->
<!--                {% endif %}-->
<!--              </span>-->

<!--              <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>-->

<!--              {% if (data ["specialist-equipment-screener"] =="No") or (data ['specialist-equipment-check-your-answers-2'] =="true")%}-->
<!--              <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>-->
<!--              {% elseif (data ["specialist-equipment-screener"] =="Yes")%}-->
<!--              <strong class="govuk-tag govuk-tag&#45;&#45;blue app-task-list__tag" id="in progress">In progress</strong>-->
<!--              {% else %}-->
<!--              <strong class="govuk-tag govuk-tag&#45;&#45;grey app-task-list__tag" id="not started">Not started</strong>-->
<!--              {% endif %}-->
<!--            </li>-->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  {% if not data['employment-check-your-answers-everything']%}Mental health support{% else %}
                {% if ((data ["mental-health-support"]) =="No")%}
                <a href="/alpha-1i/mental-health-support/screener" aria-describedby="mental-health-support-status">
                  Mental health support
                </a>
                {% elseif (data ["mental-health-check-your-answers"] =="true")%}
                <a href="/alpha-1i/mental-health-support/check-your-answers"
                   aria-describedby="mental-health-support-status">
                  Mental health support
                </a>
                {% else %}
                <a href="/alpha-1i/mental-health-support/screener" aria-describedby="mental-health-support-status">
                  Mental health support
                </a>
                {% endif %}  {% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["mental-health-support-screener"] =="No") or (data ['mental-health-check-your-answers'] =="true") or (data ["mental-health-support-screener"] =="I do not know")%}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["mental-health-support-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>


            <li class="app-task-list__item">

              <span class="app-task-list__task-name">
                  {% if not data['employment-check-your-answers-everything']%}Support workers{% else %}
                {% if (data ["support-worker-screener"] =="No")%}
                <a href="/alpha-1i/support-workers/screener" aria-describedby="support-worker-status">
                  Support workers
                </a>
                {% elseif (data ["support-worker-check-your-answers-task-list"] =="true")%}
                <a href="/alpha-1i/support-workers/check-your-answers"
                   aria-describedby="support-worker-status">
                  Support workers
                </a>
                {% else %}
                <a href="/alpha-1i/support-workers/screener" aria-describedby="support-worker-status">
                  Support workers
                </a>
                {% endif %}{% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["support-worker-screener"] =="No") or (data ['support-worker-check-your-answers-task-list'] =="true") or  (data ["support-worker-screener"] =="I do not know") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["support-worker-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  {% if not data['employment-check-your-answers-everything']%}Travelling to and from work{% else %}
                {% if ((data ["travelling-to-and-from-work-screener-task-list"]) =="No")%}
                <a href="/alpha-1i/travelling-to-and-from-work/screener" aria-describedby="travelling-to-and-from-work-status">
                  Travelling to and from work
                </a>
                {% elseif (data ["travelling-to-and-from-work-task-list"] =="true")%}
                <a href="/alpha-1i/travelling-to-and-from-work/check-your-answers"
                   aria-describedby="travelling-to-and-from-work-status">
                  Travelling to and from work
                </a>
                {% else %}
                <a href="/alpha-1i/travelling-to-and-from-work/screener" aria-describedby="travelling-to-and-from-work-status">
                  Travelling to and from work
                </a>
                {% endif %}{% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["travelling-to-and-from-work-screener"] =="No") or
                (data ['travelling-to-and-from-work-task-list'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["travelling-to-and-from-work-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
             {% if not data['employment-check-your-answers-everything']%}Travelling during work{% else %}
                {% if ((data ["travel-during-work"]) =="No")%}
                <a href="/alpha-1i/travelling-during-work/screener" aria-describedby="travel-during-work-status">
                  Travelling during work
                </a>
                {% elseif (data ["travel-during-work-check-your-answers"] =="true")%}
                <a href="/alpha-1i/travelling-during-work/check-your-answers"
                   aria-describedby="travel-during-work-status">
                  Travelling during work
                </a>
                {% else %}
                <a href="/alpha-1i/travelling-during-work/screener" aria-describedby="travel-during-work-status">
                  Travelling during work
                </a>
                {% endif %}{% endif %}

              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["travel-during-work-screener"] =="No") or (data
                ['travel-during-work-check-your-answers'] =="true") or (data ["travel-during-work-screener"] =="I do not know")%}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["travel-during-work-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if not data['employment-check-your-answers-everything']%}Changes to your workplace{% else %}
                {% if ((data ["workplace-adaptations-screener"]) =="No") or (data ["workplace-adaptations-screener"] =="I do not know")%}
                <a href="/alpha-1i/changes-to-your-workplace/screener" aria-describedby="workplace-adaptations-status">
                  Changes to your workplace
                </a>
                {% elseif (data ["workplace-adaptations-check-your-answers"] =="true")%}
                <a href="/alpha-1i/changes-to-your-workplace/check-your-answers"
                   aria-describedby="workplace-adaptations-status">
                  Changes to your workplace
                </a>
                {% else %}
                <a href="/alpha-1i/changes-to-your-workplace/screener" aria-describedby="workplace-adaptations-status">
                  Changes to your workplace
                </a>
                {% endif %}  {% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["workplace-adaptations-screener"] =="No") or (data
                ["workplace-adaptations-check-your-answers"] =="true") or (data ["workplace-adaptations-screener"] =="I do not know")%}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["workplace-adaptations-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
            {% if not data['employment-check-your-answers-everything']%}Changes to your vehicle{% else %}
                {% if ((data ["changes-to-your-vehicle"]) =="No")%}
                <a href="/alpha-1i/changes-to-your-vehicle/screener" aria-describedby="changes-to-your-vehicle-status">
                  Changes to your vehicle
                </a>
                {% elseif (data ["changes-to-your-vehicle-check-your-answers"] =="true")%}
                <a href="/alpha-1i/changes-to-your-vehicle/check-your-answers"
                   aria-describedby="changes-to-your-vehicle-status">
                  Changes to your vehicle
                </a>
                {% else %}
                <a href="/alpha-1i/changes-to-your-vehicle/screener" aria-describedby="changes-to-your-vehicle-status">
                  Changes to your vehicle
                </a>
                {% endif %}{% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["changes-to-your-vehicle-screener"] =="No") or (data
                ["changes-to-your-vehicle-check-your-answers"] =="true") or (data ["changes-to-your-vehicle-screener"] =="I do not know")%}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["changes-to-your-vehicle-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="not started">Not started</strong>
                {% endif %}{% endif %}
              </strong>
            </li>
          </ul>

        <li>
          <h3 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Additional information
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                {% if not data['employment-check-your-answers-everything']%}Anything else you would like to tell us{% else %}
                {% if ((data ["extra-information-screener"]) =="No")%}
                <a href="/alpha-1i/anything-else-you-would-like-to-tell-us/screener" aria-describedby="extra-information-status">
                  Anything else you would like to tell us
                </a>
                {% elseif (data ["extra-information-check-your-answers-task-list"] =="true")%}
                <a href="/alpha-1i/anything-else-you-would-like-to-tell-us/check-your-answers"
                   aria-describedby="extra-information-status">
                  Anything else you would like to tell us
                </a>
                {% else %}
                <a href="/alpha-1i/anything-else-you-would-like-to-tell-us/screener" aria-describedby="extra-information-status">
                  Anything else you would like to tell us
                </a>
                {% endif %}{% endif %}
              </span>
              <strong>
                {% if not data['employment-check-your-answers-everything']%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cannot start yet">Cannot start yet</strong>
                {% else %}
                {% if (data ["extra-information-screener"] =="No") or (data ['extra-information-check-your-answers-task-list'] =="true") %}
                <strong class="govuk-tag app-task-list__tag" id="completed">Completed</strong>
                {% elseif (data ["extra-information-screener"] =="Yes")%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="in progress">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--purple app-task-list__tag" id="not started">Optional</strong>
                {% endif %}  {% endif %}
              </strong>
            </li>
          </ul>
        </li>
      </ol>

      <div class="govuk-inset-text">
        You will have the chance to check all of your answers before you send your application.
      </div>

      <div class="govuk-!-padding-bottom-3"></div>

{% if data ['changes-to-your-vehicle-screener'] and
data['specialist-equipment-screener'] and
data['mental-health-support-screener'] and
data['support-worker-screener'] and
data['travelling-to-and-from-work-screener'] and
data['workplace-adaptations-screener']  %}
      <form action="/alpha-1i/final-check-your-answers">
          <input type="hidden" name="task-list-completed" value="true">
          <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            <b>Save and continue</b>
          </button>
        </form>
{% endif %}

    </div>



  </div>

{% endblock %}
