{% extends "layout-contact.html" %}

{% block pageTitle %}
When did you start this job? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/your-job-and-employer/self-employed/utr">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/self-employed/hours-per-week" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="self-employment-start-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              When did you start this job?
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            If you cannot remember the exact date, give the first day of the month that you started. For example, 1 11 2019.
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="self-employment-start-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="self-employment-start-day" name="self-employment-start-day" type="text" pattern="[0-9]*"
                       inputmode="numeric" value="{{ data['self-employment-start-day'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="self-employment-start-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="self-employment-start-month" name="self-employment-start-month" type="text"
                       pattern="[0-9]*" inputmode="numeric" value="{{ data['self-employment-start-month'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="self-employment-start-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                       id="self-employment-start-year" name="self-employment-start-year" type="text" pattern="[0-9]*"
                       inputmode="numeric" value="{{ data['self-employment-start-year'] }}"></div>
            </div>
          </div>

        </fieldset>
      </div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-1i/task-list">Return to menu</a></p>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
