{% extends "layout-contact.html" %}

{% block pageTitle %}
What is your email address? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/how-we-contact-you/check-your-answers" method="post">
      <input type="hidden" name="email-true" value="true">

      <div class="govuk-form-group">
        <div class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            What email address should we use to contact you?
            </h1>
          </legend>

<p>We will use this to contact you to check your identity.</p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="your-email-hint">

              <div class="govuk-!-padding-bottom-1"></div>

              <label class="govuk-label" for="your-email">
                Email address
              </label>
                <input class="govuk-input" id="your-email" name="your-email" type="your-email" spellcheck="false"
                       aria-describedby="your-email-hint" autocomplete="your-email" value="{{ data['your-email'] }}">
              </div>
            </fieldset>
            <div class="govuk-!-padding-bottom-5"></div>

            <!-- <p><a href="/alpha-1i/your-details/check-your-answers" input type="hidden"
                  name="contacting-you-email" value="true">I don't have an email address</a></p> -->


            <div class="govuk-!-padding-bottom-2"></div>
          </div>

          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
