{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-appointee-or-representative">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-contact-preferences" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="workplace-contact">
          Your appointee's details
        </label>
        </h1>

        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-name">
            Their full name
          </label>
          <input class="govuk-input" id="appointee-name" name="appointee-name" type="text"></div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
          <div class="govuk-form-group">
            <label class="govuk-label" for="label-as-page-heading">
              Their relationship to you
            </label>
            <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading"
                      name="label-as-page-heading" rows="3" aria-describedby="label-as-page-heading-info"></textarea>
          </div>

          <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 150 characters
          </div>

        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-phone">
            Their telephone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="appointee-phone" name="appointee-phone" type="tel" autocomplete="tel"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-email">
            Their email address
          </label>
          <input class="govuk-input" id="appointee-email" name="appointee-email" type="email" spellcheck="false" aria-describedby="appointee-email-hint" autocomplete="email">

          <div class="govuk-!-padding-bottom-7"></div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workplace-permission" name="workplace-permission" type="checkbox" value="workplace-permission">
            <label class="govuk-label govuk-checkboxes__label" for="workplace-permission">
              I confirm that I have my appointee's permission to share these details
            </label>
          </div>

          <div class="govuk-!-padding-bottom-0"></div>

        </div>

        <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to menu</a></p>

      </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
