{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-about-to-start-self-employment-full-time">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-about-to-start-self-employment-hours-per-week" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <form class="form" action="/alpha-apply-1d/1d-about-to-start-self-employment-workplace-address-select" method="post">

        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What will your workplace address be?
                  </h1>
                </legend>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="workplace-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="workplace-postcode" name="workplace-postcode"
                         type="text" autocomplete="postcodes"></div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

        <button class="govuk-button" data-module="govuk-button">Find address</button>
      </form>

        <p><a href="#">
          My workplace is outside of Great Britain
        </a></p>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to menu</a></p>

      </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
