{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-contact-preferences">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-contact-someone-else" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="1d-contact-someone-else-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Would you like someone else to receive a copy of everything we send you about your application?
              </h1>
            </legend>
            <div id="1d-contact-someone-else-hint" class="govuk-hint">
              This could be someone like a family member or friend, if you would like them to support you with your
              application. We will need to call you to confirm that you are giving us permission to send information about your application to someone else.
            </div>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1d-contact-someone-else" name="1d-contact-someone-else"
                       type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="1d-contact-someone-else">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1d-contact-someone-else-2" name="1d-contact-someone-else"
                       type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="1d-contact-someone-else-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to list</a></p>

  </div>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
