{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-mental-health-support-screener">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers: mental health support</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you need mental health support at work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mental-health-support-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1d/1d-1d-mental-health-support-screener">
              Change
              <span class="govuk-visually-hidden"> Do you need mental health support at work?</span>
            </a>
          </dd>
        </div>
      </dl>
      </div>
    </div>

  <form class="form" action="/alpha-apply-1d/1d-task-list" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>

  </div>
{% endblock %}
