{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-specialist-equipment-do-you-know-what-specialist-equipment-you-need">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-specialist-equipment-workplace-assessment" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Have you had a workplace assessment in the last 6 months that recommends specialist equipment?
                  </h1>
                </legend>

                <div id="workplace-assessment-hint" class="govuk-hint">
                  A workplace assessment is when an assessor visits your workplace, or has a video call with you, to find out exactly what support you need.
                </div>

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="specialist-equipment-workplace-assessment" name="specialist-equipment-workplace-assessment"
                           type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="specialist-equipment-workplace-assessment">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="specialist-equipment-workplace-assessment-2"
                           name="specialist-equipment-workplace-assessment"
                           type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="specialist-equipment-workplace-assessment-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
