{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-specialist-equipment-hmrc-table-3">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-specialist-equipment-check-your-answers-6" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    How will this equipment help you at work?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-5"></div>

                <table class="govuk-table">
                  <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Item</th>
                    <th scope="col" class="govuk-table__header">Specialist equipment</th>
                  </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">1</th>
                    <td class="govuk-table__cell">{{ data['specialist-equipment-type-1'] }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">2</th>
                    <td class="govuk-table__cell">{{ data['specialist-equipment-type-2'] }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">3</th>
                    <td class="govuk-table__cell">{{ data['specialist-equipment-type-3'] }}</td>
                  </tr>
                  </tbody>
                </table>

                <div class="govuk-!-padding-bottom-3"></div>

                <h2 class="govuk-heading-s">For example:</h2>

                <div class="govuk-inset-text">
                  <p>I need an ergonomic keyboard and mouse because my limited movement means that it takes me longer to get my work done without one. This is because I find it difficult to click around screens and type with a regular keyboard and mouse.</p>
                  <p>I also need to change working positions often due to my condition, so a standing desk will make my working life more comfortable.</p>
                </div>

                <div class="govuk-!-padding-bottom-2"></div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count" id="specialist-equipment-textbox-3"
                              name="specialist-equipment-textbox-3"
                              rows="10" aria-describedby="specialist-equipment-textbox-3-info with-hint-hint">{{
                      data['specialist-equipment-textbox'] }}</textarea>
                  </div>

                  <div id="specialist-equipment-textbox-3-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                  </div>



                </div>

              </fieldset>
            </div>


      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
