{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-support-worker-do-you-have-a-quote-short-term-1">Back</a>
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">You have requested 1 support worker</h1>
<div class="govuk-form-group">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does your condition mean that you need a support worker at work?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-screener'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-screener">
          Change<span class="govuk-visually-hidden"> Does your condition mean that you need a support worker at work?</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you know what type of support worker you need?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-do-you-know-what-support-worker-you-need'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-do-you-know-what-support-worker-you-need">
          Change<span class="govuk-visually-hidden"> Do you know what type of support worker you need?</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What type of support worker do you need?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['type-of-support-worker'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-that-you-need-1">
          Change<span class="govuk-visually-hidden"> What type of support worker do you need?</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Tell us ways that a support worker will help you at work
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-will-help'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-will-help">
          Change<span class="govuk-visually-hidden"> Tell us ways that a support worker will help you at work</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Will you need a support worker long-term or short-term?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-short-or-long-term-two-options'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-short-or-long-term-two-options">
          Change<span class="govuk-visually-hidden"> Will you need a support worker long-term or short-term?</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        How long do you need a support worker for?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['1d-support-worker-how-long-for'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-how-long-for">
          Change<span class="govuk-visually-hidden"> How long do you need a support worker for?</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you have quotes for the support worker that you need?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-do-you-have-a-quote-short-term-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-support-worker-do-you-have-a-quote-short-term-1">
          Change<span class="govuk-visually-hidden"> Do you have quotes for the support worker that you need?</span>
        </a>
      </dd>
    </div>
  </dl>


<form method="post" action="/alpha-apply-1d/1d-specialist-equipment-hmrc-table-1">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to request another support worker?
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-1" name="add-another-1" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-1-2" name="add-another-1" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-1-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="govuk-!-padding-bottom-1s"></div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

{% endblock %}