{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-what-support-do-you-need">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">

          <h1 class="govuk-heading-l">Travel to work support</h1>

          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
            What support do you need to travel to work?
          </label>
          </h2>

          <div id="event-name-hint" class="govuk-hint">
            For example: community bus service.
          </div>

          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    How will support to travel to and from work meet your needs?
                  </h2>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p class="govuk-body">You can include things like:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>what you find difficult about travelling to work</li>
                  <li>how long it takes you to travel to work</li>
                  <li>the effect of not having any support to travel to work</li>
                </ul>

                <div class="govuk-!-padding-bottom-2"></div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count" id="travelling-to-and-from-work-how-would-meet-your-needs-something-else"
                              name="travelling-to-and-from-work-how-would-meet-your-needs-something-else"
                              rows="10" aria-describedby="specialist-equipment-textbox-info with-hint-hint">{{
                      data['travelling-to-and-from-work-how-would-meet-your-needs-something-else'] }}</textarea>
                  </div>

                  <div id="travelling-to-and-from-work-how-would-meet-your-needs-something-else-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                  </div>



                </div>

              </fieldset>
            </div>

      <form class="form" action="/alpha-apply-1d/1d-travelling-to-and-from-work-how-many-journeys-something-else"
            method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1d/1d-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>


{% endblock %}
