{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-3">Back</a>
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">You have provided 3 quotes for your taxi</h1>

<h2 class="govuk-heading-m">First quote for taxi</h2>

<div class="govuk-form-group">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Taxi company name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['taxi-company-name-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-1">
          Change<span class="govuk-visually-hidden"> Taxi company name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Cost per journey
      </dt>
      <dd class="govuk-summary-list__value">
        £ {{ data['taxi-cost-1'] }} per hour
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-1">
          Change<span class="govuk-visually-hidden"> Cost per hour</span>
        </a>
      </dd>
    </div>
  </dl>


  <h2 class="govuk-heading-m">Second quote for taxi</h2>

  <div class="govuk-form-group">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Taxi company name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['taxi-company-name-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-2">
            Change<span class="govuk-visually-hidden"> Taxi company name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost per journey
        </dt>
        <dd class="govuk-summary-list__value">
          £ {{ data['taxi-cost-2'] }} per hour
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-2">
            Change<span class="govuk-visually-hidden"> Cost per hour</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Third quote for taxi</h2>

    <div class="govuk-form-group">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taxi company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['taxi-company-name-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-3">
              Change<span class="govuk-visually-hidden"> Taxi company name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost per journey
          </dt>
          <dd class="govuk-summary-list__value">
            £ {{ data['taxi-cost-3'] }} per hour
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-apply-1d/1d-travelling-to-and-from-work-quote-3">
              Change<span class="govuk-visually-hidden"> Cost per hour</span>
            </a>
          </dd>
        </div>
      </dl>


<form method="post" action="/alpha-apply-1d/1d-task-list">

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

{% endblock %}