{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-do-you-need-support">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1d/1d-eligibility-statement" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="1d-who-are-you-applying-for-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who are you applying for?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1d-who-are-you-applying-for" name="1d-who-are-you-applying-for" type="radio"
                       value="myself" aria-describedby="1d-who-are-you-applying-for-hint">
                <label class="govuk-label govuk-radios__label" for="1d-who-are-you-applying-for">
                  <b>I am applying for myself</b>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1d-who-are-you-applying-for-2" name="1d-who-are-you-applying-for" type="radio"
                       value="I am an appointee" aria-describedby="1d-who-are-you-applying-for-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="1d-who-are-you-applying-for-2">
                  <b>I am an appointee applying on behalf of someone else</b>
                </label>
                <div id="1d-who-are-you-applying-for-2-item-hint" class="govuk-hint govuk-radios__hint">
                  An appointee is someone that is legally responsible for managing someone else's affairs
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1d-who-are-you-applying-for-3"
                       name="1d-who-are-you-applying-for" type="radio"
                       value="I am a representative" aria-describedby="1d-who-are-you-applying-for-3-item-hint">
                <label class="govuk-label govuk-radios__label" for="1d-who-are-you-applying-for-3">
                  <b>I am a representative supporting someone else with their application</b>
                </label>
                <div id="1d-who-are-you-applying-for-3-item-hint" class="govuk-hint govuk-radios__hint">
                  For example, this could be a family member, friend or a charity worker
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>

  </div>


  <p>Or, you can <a href="#">return to a saved Access to Work application</a>.</p>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
