{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1d/1d-your-health-condition-or-disability-affects-your-work-1">Back</a>
{% endblock %}

{% block content %}


      <h1 class="govuk-heading-l">Check your answers: your health condition or disability</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Health condition or disability
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['1d-your-health-condition-or-disability-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1d/1d-your-health-condition-or-disability-1">
              Change
              <span class="govuk-visually-hidden"> your health condition or disability</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tell us about how your health condition or disability affect you at work
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-health-condition-or-disability-affects-your-work-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1d/1d-your-health-condition-or-disability-affects-your-work-1">
              Change
              <span class="govuk-visually-hidden"> Tell us about how your health condition or disability affect you at work</span>
            </a>
          </dd>
        </div>



      </dl>


  <form class="form" action="/alpha-apply-1d/1d-task-list" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>

{% endblock %}
