{% extends "layout-contact.html" %}

{% block pageTitle %}
Will your journeys be between your home and work addresses? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/travelling-to-and-from-work/taxi/providing-quotes" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="travelling-to-and-from-work-locations-taxi-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Will your journeys to and from work be between your home and work addresses?
            </h1>
          </legend>
          <div class="govuk-!-padding-bottom-2"></div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travelling-to-and-from-work-locations-taxi"
                     name="travelling-to-and-from-work-locations-taxi" type="radio" value="Yes" {{ checked("travelling-to-and-from-work-locations-taxi", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-locations-taxi">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travelling-to-and-from-work-locations-taxi-2"
                     name="travelling-to-and-from-work-locations-taxi" type="radio" value="No" {{ checked("travelling-to-and-from-work-locations-taxi", "No") }}>
              <label class="govuk-label govuk-radios__label" for="travelling-to-and-from-work-locations-taxi-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  s<div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>


{% endblock %}
