{% extends "layout.html" %}

{% block pageTitle %}
Would you like support completing this application? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-you-may-be-eligible-blue">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1c/1c-do-you-know-what-support-you-need" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you know what support you need from Access to Work?
                  </h1>
                </legend>

                <div id="1b-do-you-know-what-support-you-need-hint" class="govuk-hint">
                  <p class="govuk-hint">Examples of support include a job coach, special equipment and help getting
                    to and from work.</p>

                  <p class="govuk-hint">If you're not sure what you need, we can help to find the option that works for you.</p></div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1b-do-you-know-what-support-you-need" name="1b-do-you-know-what-support-you-need"
                           type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="1b-do-you-know-what-support-you-need">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1b-do-you-know-what-support-you-need-2" name="1b-do-you-know-what-support-you-need"
                           type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="1b-do-you-know-what-support-you-need-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Access to Work helpline
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="govuk-body" >Telephone: 0800 121 7479</p>
        <p>Monday to Friday, 9am to 5pm. This service is free.</p>
        <p><a href="#">Find out about other accessible formats</a>.
        </p>
      </nav>
    </aside>

  </div>
</div>

  </div>

{% endblock %}
