{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-extra-information-screener">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1c/1c-extra-information-check-your-answers" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Additional information
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p>Tell us anything else that you think we should know, that you have not mentioned already.</p>

                <div class="govuk-!-padding-bottom-2"></div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count" id="extra-information-textbox"
                              name="extra-information-textbox"
                              rows="15" aria-describedby="extra-information-textbox-info with-hint-hint">{{ data['extra-information-textbox'] }}</textarea>
                  </div>

                  <div id="extra-information-textbox-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 1000 characters
                  </div>



                </div>

              </fieldset>
            </div>


      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1c/1c-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
