{% extends "layout.html" %}

{% block pageTitle %}
Would you like support completing this application? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-appointee">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1c/1c-nominated-representative" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Would you like to nominate a representative to deal with your application for you?
                  </h1>
                </legend>

                <div id="1b-paid-supported-permitted-work-hint" class="govuk-hint">
                  A representative is someone that we will use as the main point of contact about your application. For example, this could be a support worker or a family member.
                </div>

                <p class="govuk-hint">If you nominate a representative, you will still receive a copy of all communications we send about your application.</p>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1b-nominated-representative" name="1b-nominated-representative"
                           type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="1b-nominated-representative">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1b-nominated-representative-2" name="1b-nominated-representative"
                           type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="1b-nominated-representative-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1c/1c-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
