{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-specialist-equipment-another-item">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers: specialist equipment</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does your condition mean that you need specialist equipment at work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['specialist-equipment-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1c/1c-specialist-equipment-screener">
              Change
              <span class="govuk-visually-hidden"> do you need specialist equipment</span>
            </a>
          </dd>
        </div>
        </div>



      </dl>

      </div>

  <form class="form" action="/alpha-apply-1c/1c-task-list" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and save
        </button>

      </form>

{% endblock %}
