{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-specialist-equipment-details-2">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1c/1c-specialist-equipment-another-item" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="specialist-equipment-details-3">
          Third quote for {{ data['specialist-equipment-type-1'] }}
        </label>
        </h1>


        <p>As this item is over £500, we need 1 more quote to make sure the cost will be covered if the grant is
          awarded.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s"
                                                 for="specialist-equipment-details-3">
            Brand or supplier of this item
          </label>
          </h2>
          <div id="1b-specialist-equipment-details-3-hint" class="govuk-hint">
            Be as specific as you can about this equipment – for example, give the make and model.
          </div>
          <input class="govuk-input" id="specialist-equipment-details-3" name="specialist-equipment-details-3"
                 type="text" aria-describedby="specialist-equipment-details-3-hint">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s"
                                                 for="specialist-equipment-details-3">
            What is the total cost of this equipment?
          </label>
          </h2>
          <div id="specialist-equipment-details-3-hint" class="govuk-hint">
            Include any extra costs, like delivery and VAT.
          </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="specialist-equipment-details-3"
                   name="specialist-equipment-details-3" type="text" spellcheck="false">
          </div>
        </div>

      <div class="govuk-!-padding-bottom-2"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1c/1c-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
