{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1c/1c-support-worker-do-you-know-what-support-worker-you-need">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1c/1c-support-worker-short-or-long-term" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Tell us ways that you think that a support worker might help you at work
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p class="govuk-body">You can include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>activities at work that a support worker could help you with</li>
                  <li>the effect of not currently having a support worker at work</li>
                </ul>

                <div class="govuk-!-padding-bottom-2"></div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count" id="support-worker-might-help"
                              name="support-worker-might-help"
                              rows="10" aria-describedby="support-worker-might-help-info with-hint-hint">{{
                      data['support-worker-might-help'] }}</textarea>
                  </div>

                  <div id="support-worker-might-help-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                  </div>



                </div>

              </fieldset>
            </div>


      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1c/1c-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
