{% extends "layout.html" %}

{% block pageTitle %}
What is your Unique Taxpayer Reference? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1h/your-job-and-employer/self-employed/job-description">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1h/your-job-and-employer/self-employed/start-date" method="post">



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="utr">
          What is your Unique Taxpayer Reference (UTR)?
        </label>
        </h1>
        <div id="utr-hint" class="govuk-hint">
          This is 10 numbers, for example 1234567890. It will be on tax returns and other letters about Corporation
          Tax. It may be called ‘reference’, ‘UTR’ or ‘official use’. You can <a class="govuk-link" href="https://www.gov.uk/find-lost-utr-number">find a lost UTR number</a> (opens in a new tab).
        </div>
        <input class="govuk-input govuk-input--width-10" id="utr" name="utr" type="text" aria-describedby="utr-hint"
               value="{{ data['utr'] }}">
      </div>

      <p><a href="/alpha-1h/your-job-and-employer/self-employed/start-date">I do not have a
        UTR</a></p>

      <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="self-employment-utr-true" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-1h/task-list">Return to menu</a></p>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
