{% extends "layout.html" %}

{% block pageTitle %}
Videos with British Sign Language (BSL)  – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/index">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Videos with British Sign Language (BSL)
          </h1>
        </legend>

        <p>You can use these videos with the online application to help you answer the questions.</p>

        <p class="govuk-body">There is a video for each question and they all have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>BSL translations</li>
          <li>subtitles in English</li>
          <li>audio in English</li>
        </ul>

      <h2 class="govuk-heading-m">Access to Work question videos</h2>

      <p class="govuk-body">We may not ask you all of these questions when you're applying, depending on your answers to other questions.</p>

      <div class="govuk-!-padding-bottom-1"></div>

        <p><a href="/3-alpha-accessibility/bsl-video-1">What are your health conditions, illnesses or disabilities?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-2">Do you need support to do your job due to your health condition?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-3">What is your employment status?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-4">Where do you work?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-5">How long have you been at your current job?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-6">Personal details</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-7">Your workplace contact</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-8">Do you need help travelling to work?</a></p>
        <p><a href="/3-alpha-accessibility/bsl-video-9">Who do you want us to contact about your claim?</a></p>

      <div class="govuk-!-padding-bottom-2"></div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        For blind or partially sighted users
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p>You can get help or apply by phone using our Access to Work helpline.</p>
        <p>Telephone: 0800 121 7579</p>
        <p>Monday to Friday, 9am to 5pm</p>
        <p>You can also <a href="#">order guidance in braille, large print or audio CD</a>.</p>
      </nav>
    </aside>
  </div>
</div>

  </div>

{% endblock %}
