{% extends "layout-contact.html" %}

{% block pageTitle %}
How many journeys will you need support for? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/travelling-to-and-from-work/something-else/will-your-journeys-be-between-home-and-work" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="travelling-to-and-from-work-how-many-journeys">
          How many journeys will you need support for in a week?
        </label>
        </h1>
        <div id="travelling-to-and-from-work-how-many-journeys-hint" class="govuk-hint">
          If it varies, give the maximum number of journeys you will need support for. A journey to work and a journey back home in a day counts as two journeys.
        </div>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="travelling-to-and-from-work-how-many-journeys"
                                                 name="travelling-to-and-from-work-how-many-journeys" type="text"
                                                 spellcheck="false" value="{{ data['travelling-to-and-from-work-how-many-journeys'] }}">
          <div class="govuk-input__suffix" aria-hidden="true">journeys a week</div>
        </div>

        <div class="govuk-!-padding-bottom-5"></div>

      </div>
      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
