
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-m">Support worker</h2>

    {% if data['support-worker-screener'] =="I do not know" %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Does your condition mean that you need a support worker at work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/support-workers/screener">
              Change
              <span class="govuk-visually-hidden"> whether you need a support worker at work</span>
            </a>
          </dd>
        </div>
    {% endif %}

      {% if (data['support-worker-do-you-know-what-support-worker-you-need'] =="No, I do not know what I need") %}



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Does your condition mean that you need a support worker at work?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-screener'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-1i/support-workers/screener">
              Change
              <span class="govuk-visually-hidden"> whether you need a support worker at work</span>
            </a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you know what type of support worker you need?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-do-you-know-what-support-worker-you-need'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/do-you-know-what-support-worker-you-need">
                      Change
                      <span class="govuk-visually-hidden"> whether you know what type of support worker you need</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Will you need a support worker on a temporary basis?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['short-or-long-term'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/temporary-basis">
                      Change
                      <span class="govuk-visually-hidden"> whether you need a support worker on a temporary basis</span>
                  </a>
              </dd>
          </div>

      </dl>

      {% endif %}

          {% if (data['support-worker-do-you-know-what-support-worker-you-need'] =="Yes, I know what I need") %}



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Does your condition mean that you need a support worker at work?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-screener'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/screener">
                      Change
                      <span class="govuk-visually-hidden"> whether you need a support worker at work</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you know what type of support worker you need?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-do-you-know-what-support-worker-you-need'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/do-you-know-what-support-worker-you-need">
                      Change
                      <span class="govuk-visually-hidden"> whether you know what type of support worker you need</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
  Which type of support worker do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['type-support-worker'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/type-of-support">
                      Change
                      <span class="govuk-visually-hidden"> which type of support worker you need</span>
                  </a>
              </dd>
          </div>

{% if data['type-support-worker']=="Other"%}

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
  What type of support worker do you need?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['type-of-support-worker-other'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
          <a href="/alpha-1i/support-workers/type-of-support-worker-that-you-need">
              Change
              <span class="govuk-visually-hidden"> the type of support worker you need</span>
          </a>
      </dd>
  </div>
{% endif %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will a {% if data['type-support-worker']=='Job coach'%}job coach{% endif %} {% if data['type-support-worker']=='British Sign Language (BSL) interpreter'%}{{data['type-support-worker']}}{% endif %}
                {% if data['type-support-worker']=='A different type of support worker' %}support worker{% endif %} help you at work?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-might-help'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/how-will-a-support-worker-help">
                      Change
                      <span class="govuk-visually-hidden">                     how a {% if data['type-support-worker']=='Job coach'%}job coach{% endif %} {% if data['type-support-worker']=='British Sign Language (BSL) interpreter'%}British Sign Language (BSL) interpreter{% endif %}
                                          {% if data['type-support-worker']=='A different type of support worker' %}support worker{% endif %} will help you at work</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
          Which job do you need this support worker for?
              </dt>
              <dd class="govuk-summary-list__value">
                {% for feature in data['multi-job-sw'] %}
                  <li>{{ feature }}</li>
                {% else %}
                  <li>Designer</li>
                {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/multiple-job">
                      Change
                      <span class="govuk-visually-hidden"> which job you need this support worker for</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Will you need a support worker on a temporary basis?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-short-or-long-term-two-options'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/temporary-basis-1">
                      Change
                      <span class="govuk-visually-hidden"> whether you will need a support worker on a temporary basis</span>
                  </a>
              </dd>
          </div>

          {% if data['support-worker-short-or-long-term-two-options'] =="Yes, I need a support worker on a temporary basis" %}

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How many weeks do you need a support worker for?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-how-long-for'] }}
                  {% if data['support-worker-how-long-for'] =="1" %} week
                  {% else %} weeks
                  {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/how-long-for">
                      Change
                      <span class="govuk-visually-hidden"> how many weeks you need a support worker for</span>
                  </a>
              </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How many hours per week do you need this support at work?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-hour-per-week'] }}
                  {% if data['support-worker-hour-per-week'] =="1" %} hour per week
                  {% else %} hours per week
                  {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/how-many-hours-a-week">
                      Change
                      <span class="govuk-visually-hidden"> how many hours per week you need a support worker</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you have quotes for the support worker that you need?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-providing-quotes-for-this-support'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/providing-quotes-for-this-support">
                      Change
                      <span class="govuk-visually-hidden"> whether you have quotes for the support worker that you need</span>
                  </a>
              </dd>
          </div>

          {% if data['support-worker-providing-quotes-for-this-support'] =="No, I do not have quotes" %}

          <!-- <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you need another support worker?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['do-you-need-another-support-worker'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/do-you-need-another-support-worker">
                      Change
                      <span class="govuk-visually-hidden"> whether you need another support worker</span>
                  </a>
              </dd>
          </div> -->

          {% endif %}


          {% if data['support-worker-providing-quotes-for-this-support'] =="Yes, I have quotes" %}

          <div class="govuk-!-padding-bottom-7"></div>

          <h2 class="govuk-heading-m">First quote for {{ data['type-of-support-worker'] }}</h2>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Support worker provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {{ data['support-worker-provider-1'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a href="/alpha-1i/support-workers/first-quote">
                          Change
                          <span class="govuk-visually-hidden"> support worker provider</span>
                      </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Cost per hour
                  </dt>
                  <dd class="govuk-summary-list__value">
                      £ {{ data['support-worker-cost-per-hour-1'] }} per hour
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a href="/alpha-1i/support-workers/first-quote">
                          Change
                          <span class="govuk-visually-hidden"> cost per hour</span>
                      </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Have you worked with this support worker provider before?
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {{ data['support-worker-worked-with-them-before-1'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a href="/alpha-1i/support-workers/first-quote">
                          Change
                          <span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
                      </a>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you have a second quote?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-second-quote-1'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/first-quote">
                      Change
                      <span class="govuk-visually-hidden"> whether you have a second quote</span>
                  </a>
              </dd>
              </div>

          {% endif %}

          {% if ((data['support-worker-providing-quotes-for-this-support'] =="Yes, I have quotes") and
          (data['support-worker-second-quote-1'] =="Yes")) %}

          <div class="govuk-!-padding-bottom-7"></div>

          <h2 class="govuk-heading-m">Second quote for {{ data['type-of-support-worker'] }}</h2>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Support worker provider
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-provider-2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/second-quote">
                      Change
                      <span class="govuk-visually-hidden"> support worker provider</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Cost per hour
              </dt>
              <dd class="govuk-summary-list__value">
                  £ {{ data['support-worker-cost-per-hour-2'] }} per hour
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/second-quote">
                      Change
                      <span class="govuk-visually-hidden"> cost per hour</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Have you worked with this support worker provider before?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-worked-with-them-before-2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/second-quote">
                      Change
                      <span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you have a third quote?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-second-quote-2'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/second-quote">
                      Change
                      <span class="govuk-visually-hidden"> whether you have a second quote</span>
                  </a>
              </dd>
          </div>

          {% endif %}


          {% if ((data['support-worker-providing-quotes-for-this-support'] =="Yes, I have quotes") and
          (data['support-worker-third-quote-3'] =="Yes")) %}

          <div class="govuk-!-padding-bottom-7"></div>

          <h2 class="govuk-heading-m">Third quote for {{ data['type-of-support-worker'] }}</h2>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Support worker provider
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-provider-3'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/third-quote">
                      Change
                      <span class="govuk-visually-hidden"> support worker provider</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Cost per hour
              </dt>
              <dd class="govuk-summary-list__value">
                  £ {{ data['support-worker-cost-per-hour-3'] }} per hour
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/third-quote">
                      Change
                      <span class="govuk-visually-hidden"> cost per hour</span>
                  </a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Have you worked with this support worker provider before?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['support-worker-worked-with-them-before-3'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/third-quote">
                      Change
                      <span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
                  </a>
              </dd>
          </div>

          {% endif %}

      </dl>

          {% if (data['support-worker-providing-quotes-for-this-support'] =="Yes, I have quotes") %}

      <!-- <h2 class="govuk-heading-m">Additional support worker</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Do you need another support worker?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['do-you-need-another-support-worker'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/support-workers/do-you-need-another-support-worker">
                      Change
                      <span class="govuk-visually-hidden"> whether you need another support worker</span>
                  </a>
              </dd>
          </div> -->

          {% endif %}


      </dl>

          {% endif %}


      </div>
    </div>


{% endblock %}
