{% extends "layout-contact.html" %}

{% block pageTitle %}
Which job do you need this support worker for? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/support-workers/temporary-basis-1" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="multi-job-sw-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
Which job do you need this support worker for?

      </h1>
    </legend>

    <div id="multi-job-sw-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="multi-job-sw" name="multi-job-sw" type="checkbox" value="{{data['job-title-1']}} {% if data['1i-employment-status1']=='Employed'%}{{data['job-title-employed-1']}} at {{data['employer-name-1']}}{% endif %}">
            <label class="govuk-label govuk-checkboxes__label" for="multi-job-sw">
            {{data['job-title-1']}} {% if data['1i-employment-status1']=='Employed'%}{{data['job-title-employed-1']}} at {{data['employer-name-1']}}{% endif %}
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="multi-job-sw-2" name="multi-job-sw" type="checkbox" value="{{data['job-title-2']}}{% if data['1i-employment-status2']=='Employed'%}{{data['job-title-employed-2']}} at {{data['employer-name-2']}}{% endif %}">
            <label class="govuk-label govuk-checkboxes__label" for="multi-job-sw-2">
            {{data['job-title-2']}}{% if data['1i-employment-status2']=='Employed'%}{{data['job-title-employed-2']}} at {{data['employer-name-2']}}{% endif %}
            </label>
              </div>


          </fieldset>
        </div>



        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
