{% extends "layout-contact.html" %}

{% block pageTitle %}
You have provided 2 quotes – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">You have provided 2 quotes for your support worker</h1>

<div class="govuk-!-padding-bottom-3"></div>

<h1 class="govuk-heading-m">First quote for {% if data['type-support-worker']=="A different type of support worker"%}{{ data['type-of-support-worker-other'] }}{% else %} {{ data['type-support-worker'] }}{% endif %}</h1>

<div class="govuk-form-group">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Support worker provider
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-provider-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> support worker provider</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Cost per hour
      </dt>
      <dd class="govuk-summary-list__value">
        £ {{ data['support-worker-cost-per-hour-1'] }} per hour
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> cost per hour</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Have you worked with this support worker provider before?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-worked-with-them-before-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
        </a>
      </dd>
    </div>
  </dl>

  <h1 class="govuk-heading-m">Second quote for {% if data['type-support-worker']=="A different type of support worker"%}{{ data['type-of-support-worker-other'] }}{% else %} {{ data['type-support-worker'] }}{% endif %}</h1>

  <div class="govuk-form-group">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support worker provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-provider-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> support worker provider</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost per hour
        </dt>
        <dd class="govuk-summary-list__value">
          £ {{ data['support-worker-cost-per-hour-2'] }} per hour
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> cost per hour</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you worked with this support worker provider before?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-worked-with-them-before-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
          </a>
        </dd>
      </div>
    </dl>


<form method="post" action="/alpha-1i/support-workers/second-quote-summary-answer">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="support-worker-third-quote-3-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you have a third quote?
      </legend>
      <div id="support-worker-third-quote-3-hint" class="govuk-hint">
        If you provide 3 quotes, this will speed up the processing of your application. If you cannot provide quotes now, we will ask you for them at a later date.
      </div>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="support-worker-third-quote-3"
                 name="support-worker-third-quote-3" type="radio" value="Yes" {{ checked("support-worker-third-quote-3", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="support-worker-third-quote-3">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="support-worker-third-quote-3-2"
                 name="support-worker-third-quote-3" type="radio" value="No" {{ checked("support-worker-third-quote-3", "No") }}>
          <label class="govuk-label govuk-radios__label" for="support-worker-third-quote-3-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="govuk-!-padding-bottom-1"></div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

  </div>
</div>

{% endblock %}
