{% extends "layout-contact.html" %}

{% block pageTitle %}
You have provided 3 quotes – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">You have provided 3 quotes for your support worker</h1>

<div class="govuk-!-padding-bottom-3"></div>

<h1 class="govuk-heading-m">First quote for {% if data['type-support-worker']=="A different type of support worker"%}{{ data['type-of-support-worker-other'] }}{% else %} {{ data['type-support-worker'] }}{% endif %}</h1>

<div class="govuk-form-group">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Support worker provider
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-provider-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> support worker provider</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Cost per hour
      </dt>
      <dd class="govuk-summary-list__value">
        £ {{ data['support-worker-cost-per-hour-1'] }} per hour
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> cost per hour</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Have you worked with this support worker provider before?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['support-worker-worked-with-them-before-1'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/alpha-1i/support-workers/first-quote">
          Change<span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
        </a>
      </dd>
    </div>
  </dl>

  <h1 class="govuk-heading-m">Second quote for {% if data['type-support-worker']=="A different type of support worker"%}{{ data['type-of-support-worker-other'] }}{% else %} {{ data['type-support-worker'] }}{% endif %}</h1>

  <div class="govuk-form-group">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support worker provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-provider-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> support worker provider</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost per hour
        </dt>
        <dd class="govuk-summary-list__value">
          £ {{ data['support-worker-cost-per-hour-2'] }} per hour
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> cost per hour</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you worked with this support worker provider before?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['support-worker-worked-with-them-before-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/alpha-1i/support-workers/second-quote">
            Change<span class="govuk-visually-hidden"> whether you have worked with this support worker provider before</span>
          </a>
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Third quote for {% if data['type-support-worker']=="A different type of support worker"%}{{ data['type-of-support-worker-other'] }}{% else %} {{ data['type-support-worker'] }}{% endif %}</h1>

    <div class="govuk-form-group">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Support worker provider
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-provider-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-1i/support-workers/third-quote">
              Change<span class="govuk-visually-hidden"> support worker provider</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost per hour
          </dt>
          <dd class="govuk-summary-list__value">
            £ {{ data['support-worker-cost-per-hour-3'] }} per hour
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-1i/support-workers/third-quote">
              Change<span class="govuk-visually-hidden"> cost per hour</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you worked with this support worker provider before?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['support-worker-worked-with-them-before-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/alpha-1i/support-workers/third-quote">
              Change<span class="govuk-visually-hidden"> whether you have worked with this support worker provider before?</span>
            </a>
          </dd>
        </div>
      </dl>


<form method="post" action="/alpha-1i/support-workers/do-you-need-another-support-worker">

  <div class="govuk-!-padding-bottom-1"></div>

  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</form>

    </div>
  </div>

{% endblock %}
