{% extends "layout-contact.html" %}

{% block pageTitle %}
What is the name of your company? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/2/employment/job-title" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="employer-name">
          What is the name of the company or organisation that you work for?
        </label>
        </h1>
        <div class="govuk-!-padding-bottom-2"></div>
        <div class="govuk-form-group">
          <input class="govuk-input" id="employer-name" name="employer-name-3" type="text" value="{{ data['employer-name-3'] }}"></div>
      </div>

      <div class="govuk-!-padding-bottom-0"></div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
