{% extends "layout.html" %}

{% block pageTitle %}
How will support to travel during work meet your needs? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1h/travelling-during-work/screener">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1h/travelling-during-work/check-your-answers" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    How will support to travel during work meet your needs?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p class="govuk-body">You can include things like:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>how you travel during work at the moment</li>
                  <li>the distance that you usually travel during work</li>
                  <li>the effect of not currently having any support to travel during work</li>
                </ul>

                <div class="govuk-!-padding-bottom-2"></div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                  <div class="govuk-form-group">

                    <textarea class="govuk-textarea govuk-js-character-count" id="travel-during-work-support-you-may-need"
                              name="travel-during-work-support-you-may-need"
                              rows="10" aria-describedby="travel-during-work-support-you-may-need-info travel-during-work-support-you-may-need-hint">{{ data['travel-during-work-support-you-may-need'] }}</textarea>
                  </div>

                  <div id="travel-during-work-support-you-may-need-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                  </div>



                </div>

              </fieldset>
            </div>


      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-1h/task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
