{% extends "layout.html" %}

{% block pageTitle %}
How would you like to apply for an Access to Work grant? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/index"">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/2-alpha-accessibility/2a-support-options" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="support-type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How would you like to apply for an Access to Work grant?
            </h1>
          </legend>

          <div class="govuk-!-padding-bottom-2"></div>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="support-type" name="support-type" type="radio" value="online"
                     aria-describedby="support-type-item-hint">
              <label class="govuk-label govuk-radios__label" for="support-type">
                Online
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="support-type-2" name="support-type" type="radio"
                     value="telephone" aria-describedby="support-type-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="support-type-2">
                Telephone
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="support-type-3" name="support-type" type="radio" value="textphone"
                     aria-describedby="support-type-3-item-hint">
              <label class="govuk-label govuk-radios__label" for="support-type-3">
                Textphone
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="support-type-4" name="support-type" type="radio" value="relay-uk"
                     aria-describedby="support-type-4-item-hint">
              <label class="govuk-label govuk-radios__label" for="support-type-4">
                Relay UK
              </label>
              <div id="support-type-4-item-hint" class="govuk-hint govuk-radios__hint">
                Relay UK is a simple service that you can use if you can't hear or speak on the phone.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="support-type-5" name="support-type" type="radio"
                     value="video-relay"
                     aria-describedby="support-type-5-item-hint">
              <label class="govuk-label govuk-radios__label" for="support-type-5">
                Video relay service
              </label>
              <div id="support-type-5-item-hint" class="govuk-hint govuk-radios__hint">
                This allows British Sign Language (BSL) users to communicate through an online video link with a qualified interpreter.
              </div>
            </div>
          </div>

        </fieldset>
      </div>


      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h3 class="govuk-heading-m" id="subsection-title">
        Related content
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">
              Reasonable adjustments for workers with disabilities or health conditions
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">
              Definition of disability under the Equality Act 2010
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/rights-disabled-person">
              Disability rights
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/looking-for-work-if-disabled">
              Looking for work if you're disabled
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

  </div>

{% endblock %}
