{% extends "layout.html" %}

{% block pageTitle %}
Are you a civil servant? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1g/#">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1g/#" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="civil-servant-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you shielding because of coronavirus (COVID-19)?
            </h1>
          </legend>
          <div id="civil-servant-hint" class="govuk-hint">
            This means that you have been told by your GP or the NHS to shield. This only applies if you live in Scotland or Wales.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="civil-servant" name="civil-servant" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="civil-servant">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="civil-servant-2" name="civil-servant" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="civil-servant-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>


</div>


{% endblock %}
