{% extends "layout.html" %}

{% block pageTitle %}
Would you like support completing this application? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1g/1g-contacting-you-phone">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1g/1g-contacting-you-check-your-answers-everything" method="post">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="contact-selecting-time">
            When are the best times to contact you?
          </label>
          </h1>

          <div class="govuk-!-padding-bottom-3"></div>

          <textarea class="govuk-textarea govuk-js-character-count" id="contact-selecting-time"
                    name="contact-selecting-time" rows="3"
                    aria-describedby="contact-selecting-time with-hint-info contact-selecting-time-hint"></textarea>
        </div>

        <div id="contact-selecting-time-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 150 characters
        </div>

        <div class="govuk-inset-text">
          We’ll try our best to contact you at these times. If we do not manage to contact you by telephone, we'll leave a voicemail or send an email or text message to let you know when to expect another call.
        </div>

      </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1g/1g-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
