
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['contacting-you-about-your-application'] =="Me" %}

    {% if data['email-reasonable-adjustment-true'] =="true" %}

    <h2 class="govuk-heading-m">How we contact you</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who should we contact about your application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contacting-you-about-your-application'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-you-about-your-application">
              Change
              <span class="govuk-visually-hidden"> Who should we contact about your application?</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            I find it difficult to hear or speak on the telephone
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-reasonable-adjustment-email">
              Change
              <span class="govuk-visually-hidden"> Confirm your personal email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-reasonable-adjustment'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-reasonable-adjustment-email">
              Change
              <span class="govuk-visually-hidden"> Confirm your personal email address</span>
            </a>
          </dd>
        </div>

      </dl>

    {% endif %}
    {% endif %}

    {% if (data['contacting-you-about-your-application'] =="Me") %}

    {% if data['contacting-you-phone'] =="true" %}

    <h2 class="govuk-heading-m">How we contact you</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who should we contact about your application?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['contacting-you-about-your-application'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/alpha-apply-1g/1g-contacting-you-about-your-application">
            Change
            <span class="govuk-visually-hidden"> Who should we contact about your application?</span>
          </a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['telephone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-you-confirm-phone">
              Change
              <span class="govuk-visually-hidden"> what is your telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When are the best times to contact you?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contact-selecting-time'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-you-selecting-time">
              Change
              <span class="govuk-visually-hidden"> When are the best times to contact you?</span>
            </a>
          </dd>
        </div>

    </dl>

    {% endif %}
    {% endif %}

    {% if (data['contacting-you-about-your-application'] =="Someone else") %}

    <h2 class="govuk-heading-m">How we contact you</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Who should we contact about your application?
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['contacting-you-about-your-application'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="/alpha-apply-1g/1g-contacting-you-about-your-application">
          Change
          <span class="govuk-visually-hidden"> Who should we contact about your application?</span>
        </a>
      </dd>
    </div>
    </dl>

    <h2 class="govuk-heading-m">Details of the person we should contact</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contacting-someone-else-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-someone-else">
              Change
              <span class="govuk-visually-hidden"> Their full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their relationship to you
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['relationship-to-you'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-someone-else">
              Change
              <span class="govuk-visually-hidden"> Their relationship to you</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contacting-someone-else-phone'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-someone-else">
              Change
              <span class="govuk-visually-hidden"> Their telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contacting-someone-else-email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/alpha-apply-1g/1g-contacting-someone-else">
              Change
              <span class="govuk-visually-hidden"> Their email address</span>
            </a>
          </dd>
        </div>

      </dl>
    {% endif %}

  </div>
</div>



{% endblock %}
