{% extends "layout.html" %}

{% block pageTitle %}
Do you need another support worker? – Access to Work – GOV.UK
{% endblock %}

{% if not inEditMode and casa.journeyPreviousUrl %}
{{ govukBackLink({
classes: 'hide-print',
text: t('common:back'),
href: casa.journeyPreviousUrl
}) }}
{% endif %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1g/1g-support-worker-check-your-answers" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you need another support worker?
                  </h1>
                </legend>

                <div class="govuk-hint">
                  You can have more than one type of support worker with Access to Work.
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-need-another-support-worker"
                           name="do-you-need-another-support-worker"
                           type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="do-you-need-another-support-worker">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="do-you-need-another-support-worker-2"
                           name="do-you-need-another-support-worker"
                           type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="do-you-need-another-support-worker-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1g/1g-task-list">Return to menu</a></p>

  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>


{% endblock %}
