{% extends "layout.html" %}

{% block pageTitle %}
How long do you need a support worker for? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1g/1g-support-worker-short-or-long-term-two-options">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1g/1g-support-worker-how-many-hours-a-week" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    How long do you need a support worker for?
                  </h1>
                </legend>

                <div id="support-worker-how-long-for-hint" class="govuk-hint">
                  Tell us how long you think you will need a support worker for <br>- for example, 16 weeks.</br>
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="support-worker-how-long-for"
                                                         name="support-worker-how-long-for" type="text" spellcheck="false">
                  <div class="govuk-input__suffix" aria-hidden="true">weeks</div>
                </div>

                <div class="govuk-!-padding-bottom-6"></div>

                </div>

              </fieldset>
            </div>


      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1g/1g-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
