{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1g/1g-what-is-your-full-name">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1g/1g-home-address" method="post">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What is your date of birth?
                      </h1>
                    </legend>
                    <div id="date-of-birth-hint" class="govuk-hint">
                      For example, 27 3 2001.
                    </div>
                    <div class="govuk-date-input" id="date-of-birth">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                 id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*"
                                 inputmode="numeric" value="{{ data['date-of-birth-day'] }}"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                 id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*"
                                 inputmode="numeric" value="{{ data['date-of-birth-month'] }}"></div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                 id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*"
                                 inputmode="numeric" value="{{ data['date-of-birth-year'] }}"></div>
                      </div>
                    </div>

                  </fieldset>
                </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

    </form>

    <p><a href="/alpha-apply-1g/1g-task-list">Return to menu</a></p>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
