{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-2/2a-mainly-based-in-gb">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-eligibility-2/2a-do-you-need-support" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Does your disability or health condition mean that you need support to help you in your job, or to get to work?
                  </h1>
                </legend>

                <div id="2a-do-you-need-support" class="govuk-hint">
                  Examples of support include support workers, special equipment and adaptations to your vehicle.
                </div>

                <div class="govuk-!-padding-bottom-1"></div>


                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="2a-do-you-need-support" name="2a-do-you-need-support" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="2a-do-you-need-support">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="2a-do-you-need-support-2" name="2a-do-you-need-support" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="2a-do-you-need-support-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
