{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-2/2a-right-to-work-in-gb">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Based on your answers, you may not be eligible for Access to Work
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>

            <p class="govuk-body">To be eligible for Access to Work, one of the following must apply:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you must live in, and have the right to work in, Great Britain (England, Scotland and Wales)</li>
              <li>you must be a posted worker from the EU with the right to work in Great Britain</li>
            </ul>

            <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m">If you think you might still be eligible</h2>

            <p>You can <a href="#">continue with your application</a> or contact us:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>telephone: 0800 121 7479</li>
              <li>textphone: 0800 121 7579</li>
              <li><a href="#">Relay UK service</a>, if you cannot hear or speak on the phone: 18001 then 0800 121
                7479</li>
              <li><a href="#">video relay service</a> for British Sign Language (BSL) users (find out <a href="#">how to use the
                service</a>)</li>
              <li>email: <a href="#">dwponline.helpdesk@dwp.gov.uk</a></li>
            </ul>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h3 class="govuk-heading-m" id="subsection-title">
        Related content
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">

          <ul class="govuk-list govuk-list">
            <li><a href="https://www.gov.uk/apply-to-come-to-the-uk">Applying for a visa to come to the UK</a></li>
            <li><a href="https://www.gov.uk/check-uk-visa">Check if you need a UK visa</a></li>
            <li><a href="https://www.gov.uk/uk-border-control">Entering the UK</a></li>
            <li><a href="https://www.gov.uk/claim-asylum">Claim asylum in the UK </a></li>
          </ul>
        </ul>
      </nav>
    </aside>

  </div>
</div>

  </div>

{% endblock %}
