{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-2/2a-employment-status">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Based on your answers, you may not be eligible for Access to Work
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-4"></div>

            <p>To be eligible for Access to Work, you must be in paid employment.</p>

            <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m">If you think you might still be eligible</h2>

            <p>You can <a href="#">continue with your application</a> or contact us:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>telephone: 0800 121 7479</li>
              <li>textphone: 0800 121 7579</li>
              <li><a href="#">Relay UK service</a>, if you cannot hear or speak on the phone: 18001 then 0800 121
                7479</li>
              <li><a href="#">video relay service</a> for British Sign Language (BSL) users (find out <a href="#">how to use the
                service</a>)</li>
              <li>email: <a href="#">dwponline.helpdesk@dwp.gov.uk</a></li>
            </ul>

            <h2 class="govuk-heading-m">If you are unemployed and need support</h2>

            <p class="govuk-body">You may be eligible for the following:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/universal-credit">Universal Credit</a></li>
              <li><a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a></li>
              <li><a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>, if you have a long term health condition or disability</li>
              <li><a href="https://www.gov.uk/employment-support-allowance">Employment and Support Allowance (ESA)</a>, if you have a disability or health condition that affects how much you can work</li>
              <li><a href="https://www.gov.uk/pension-credit">Pension Credit</a>, if you are on a low income and over State Pension age</li>

            </ul>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    

  </div>
</div>

  </div>

{% endblock %}
