{% extends "layout.html" %}

{% block pageTitle %}
Accessible information – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/5-alpha-accessibility/5-do-you-need-support">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            If you need help applying for Access to Work
          </h1>
        </legend>

      <p class="govuk-body">You can get help with your application by using the Access to Work helpline or email address. You can contact us in these ways:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>telephone: 0800 121 7479</li>
        <li><a href="https://www.relayuk.bt.com/">Relay UK service</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
        <li><a href="https://main.signvideo.me/app/8/10128?exitURL=https://www.gov.uk/access-to-work/apply">video relay service</a> for British Sign Language (BSL) users (<a href="https://www.youtube.com/watch?v=xgWBXN5Bp_E">find out how to use
          this service</a>)</li>
        <li>email: <a href="#">dwponline.helpdesk@dwp.gov.uk</a>
        </li>
      </ul>

      <p>These services are available from Monday to Friday, 9am to 5pm and are free to use.</p>

      <p>If you don't need support, you can continue to <a href="#">apply online without BSL videos</a> or <a href="#">apply online with
        BSL videos</a>.</p>

      <h2 class="govuk-heading-m">Accessible information about Access to Work</h2>

      <p class="govuk-body">Information about applying for Access to work is available in these alternative formats:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">BSL videos with audio and subtitles</a></li>
        <li><a href="#">easy read</a></li>
        <li><a href="#">large print</a></li>
        <li><a href="#">braille</a></li>
        <li><a href="#">audio CD</a></li>
      </ul>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
