{% extends "layout-contact.html" %}

{% block pageTitle %}
You may need a workplace assessment – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/equipment-adaptations-and-software/check-your-answers" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">
          You may need to have a workplace assessment
        </label>
        </h1>

        <div class="govuk-!-padding-bottom-2"></div>

        <p>We'll check your application and may recommend a workplace assessment so we can make sure you'll be getting the support
          you need.</p>

        <p>This may include a remote meeting with a workplace assessor, or an assessor visiting your workplace.</p>

        <p>We'll discuss this with you when we contact you about your application.</p>

      </div>

      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

        <p><a href="/alpha-1i/task-list">Return to tasks</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
