{% extends "layout.html" %}

{% block pageTitle %}
What will your job description be? – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-1i/your-job-and-employer/about-to-start-self-employment/job-title">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/about-to-start-self-employment/do-you-have-a-utr" method="post">


      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="about-to-start-self-employment-job-description">
            What will your job description be?
          </label>
          </h1>
          <p>Provide a short overview of the work that you think that you'll do.</p>

          <p class="govuk-body">You can include, for example:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>skills</li>
            <li>responsibilities</li>
            <li>day-to-day activities</li>
          </ul>
          <textarea class="govuk-textarea govuk-js-character-count" id="about-to-start-self-employment-job-description"
                    name="about-to-start-self-employment-job-description" rows="10"
                    aria-describedby="about-to-start-self-employment-job-description-info about-to-start-self-employment-job-description-hint">{{ data['about-to-start-self-employment-job-description'] }}</textarea>
        </div>

        <div id="self-employment-job-description-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 500 characters
        </div>

      </div>



      <div class="govuk-!-padding-bottom-0"></div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

      <p><a href="/alpha-1i/task-list">Return to menu</a></p>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
