{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1e/1e-travelling-to-and-from-work-locations-taxi">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1e/1e-travelling-to-and-from-work-check-your-answers-taxi-miles"
          method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                                               for="travelling-to-and-from-work-how-many-journeys-taxi">
          How many miles is each journey?
        </label>
        </h1>
        <div id="travelling-to-and-from-work-how-many-journeys-taxi-hint" class="govuk-hint">
          If you're not sure, or the miles can vary, give the maximum number of miles each journey could be, based on your work locations.
        </div>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-3" id="travelling-to-and-from-work-how-many-journeys-taxi"
                                                 name="travelling-to-and-from-work-how-many-journeys-taxi" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">miles</div>
        </div>
      </div>
      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1e/1e-task-list">Return to menu</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
