{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-form-group">

    <div class="govuk-grid-row-2">
      <!DOCTYPE html>
      <style>
  .govuk-grid-row-2 {
  background-color: #1f70b8;
  color: #fff;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
  padding: 20px 40px 2px;
  }

  </style>

      <div class="govuk-!-padding-bottom-2"></div>

      <fieldset class="govuk-fieldset">
        <span class="govuk-caption-xl" style="color:white">AB 12 30 07 C</span>
        <h1 class="govuk-heading-xl" style="color:white">Edward Boultly</h1>

      </fieldset>
      </html>

    </div>

  </div>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          DiSC updates
        </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <h2 class="govuk-heading-m">Customer details</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Surname
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Boultly
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Forename(s)
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Edward
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    NINO
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    NA 65 23 09 S
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of birth
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    25 / 12/ 1978
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    10 Carey's Wood
                                    <br>
                                    Smallfield
                                    <br>
                                    West Sussex
                                    <br>
                                    Horley
                                    <br>
                                    Surrey
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Postcode
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    RH6 9PB
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of initial contact
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <span id="initial-contact-date"></span>
                                    20 / 12 / 2021
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone Number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07888 123098
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    egboultly@messages.tk
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">Preferred communication method</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Who should we contact about your application?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Me
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Method
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Phone
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07888 123098
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    When are the best times to contact?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    12 - 1pm weekdays
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">Disability description</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    First disability
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Degenerative back condition
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">Employer and job</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Employer name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Universe Insurance
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job title
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Sales manager
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job start date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    30 / 11 / 2014
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Employment status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Employed
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">Workplace details</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Marks House
                                    <br>
                                    Caroline Street
                                    <br>
                                    Penderly
                                    <br>
                                    United Kingdom
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Workplace Postcode
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    DV56 0KL
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Workplace forename(s)
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Brian
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Workplace surname
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    White
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Contact job title
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    HR
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Workplace telephone
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    02012 121212 (ext 4)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Workplace email
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    brwhite@messages.tk
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Employer size
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    250+ employees
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Hours worked per week
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    37.5
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Days in the week worked
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    I work flexibly or on a shift pattern
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Work pattern
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    xxxxxx
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job description
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Sell car insurance to customers over the phone.
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    How customer feels disability affects job
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>I hurt my back playing cricket when I was younger and now suffer with constant pain. It affects all
                                        aspects of my life.</p>

                                    <p>I find it difficult to sit in my chair all day at work.</p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Support customers feels may be needed
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Specialist aids, equipment and software</p>
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">Create business case</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Employer size
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    250+ employees
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job description
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Sell car insurance to customers over the phone.
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    How customer feels disability affects job
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>I hurt my back playing cricket when I was younger and now suffer with constant pain. It affects all
                                        aspects of my life.</p>

                                    <p>I find it difficult to sit in my chair all day at work.</p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Support customers feels may be needed
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Specialist aids, equipment and software</p>
                                </dd>
                            </div>
                        </dl>

                    </div>
                </div>


            </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Requested support
        </span>
                </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">


                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <h2 class="govuk-heading-m">Specialist aids, equipment and software</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Do you need equipment, adaptations or software to support you with your condition at work?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Yes
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Do you know what specialist equipment you need from Access to Work?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Yes, I know what I need
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    What type of specialist equipment do you need?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Adjustable desk
                                    <br>
                                    Computer screens
                                    <br>
                                    Ergonomic keyboard and mouse
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    How will this equipment help you at work?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>I am in a wheelchair and the desks at my office are not suitable for me</p>
                                    <p>I need an extra screen to help me see more information</p>
                                    <p>Because of my condition I have been told I need ergonomic equipment at my desk</p>
                                </dd>
                            </div>
                        </dl>

                    </div>
                </div>
            </div>


        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Customer contact preferences and details
        </span>
                </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">


                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <h2 class="govuk-heading-m">Preferred communication method</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Who should we contact about your application?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Me
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Method
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Phone
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07888 123098
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    When are the best times to contact?
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    12 - 1pm weekdays
                                </dd>
                            </div>
                        </dl>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="govuk-!-padding-bottom-4"></div>

    <form class="form" action="/alpha-case-manager-accordion/your-cases" method="post">
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Completed
            </button>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Return to your cases
            </button>
        </div>
    </form>

  </div>

{% endblock %}