{% extends "layout.html" %}

{% block pageTitle %}
Accessible information – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1b/1b-you-may-be-eligible-blue">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            If you need help applying for Access to Work
          </h1>
        </legend>

      <p class="govuk-body">You can get help with your application by telephone or email:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>telephone: 0800 121 7479</li>
        <li>email: <a href="#">dwponline.helpdesk@dwp.gov.uk</a>
        </li>
      </ul>

      <p>These services are available from Monday to Friday, 9am to 5pm and are free to use.</p>

      <h2 class="govuk-heading-m">If you cannot hear or speak on the phone</h2>

      <p>Dial 18001 then 0800 121 7479 to use the <a href="https://www.relayuk.bt.com/">Relay UK service</a>.</p>

      <h2 class="govuk-heading-m">If you use British Sign Language (BSL)</h2>

      <p>You can use the <a
              href="https://main.signvideo.me/app/8/10128?exitURL=https://www.gov.uk/access-to-work/apply">video
        relay service</a>. Watch a video to <a href="https://www.youtube.com/watch?v=xgWBXN5Bp_E">find out how to use the service</a>.</p>

      <h2 class="govuk-heading-m">Accessible information about Access to Work</h2>

      <p class="govuk-body">Information about applying for Access to work is available in these alternative formats:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">BSL videos with audio and subtitles</a></li>
        <li><a href="#">easy read</a></li>
        <li><a href="#">large print</a></li>
        <li><a href="#">braille</a></li>
        <li><a href="#">audio CD</a></li>
      </ul>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
