{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1b/1b-appointee-or-representative">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1b/1b-contact-preferences" method="post">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="full-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Your representative's details
                      </h1>
                    </legend>

                    <div class="govuk-!-padding-bottom-4"></div>

                      <div class="govuk-form-group">
                          <h2 class="govuk-heading-m" for="full-name">
                              Their full name
                          </h2>
                          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>

                      <div class="govuk-form-group">
                          <h2 class="govuk-heading-m" for="more-detail">
                              Their relationship to you
                          </h2>
                          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                          <h2 class="govuk-heading-m" for="telephone-number">
                              Their telephone number
                          </h2>
                          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>

                      <div class="govuk-form-group">
                          <h2 class="govuk-heading-m" for="email">
                              Their email address
                          </h2>
                          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                      </div>

                      <div class="govuk-!-padding-bottom-3"></div>

                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="appointee" name="appointee" type="checkbox"
                                 value="appointee">
                          <label class="govuk-label govuk-checkboxes__label" for="appointee">
                              I confirm that I have my representative's permission to share these details
                          </label>
                      </div>


                  </fieldset>
                </div>

        <div class="govuk-!-padding-bottom-3"></div>

      <form class="form" action="/alpha-apply-1b/1b-contact-preferences" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </form>


  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

{% endblock %}
