{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1b/1b-specialist-equipment-textbox">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1b/1b-specialist-equipment-quote-date-1" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Quotations for special equipment
                  </h1>
                </legend>

                <p>xxxxxxxxxxxxxxxxxx</p>

                <div class="govuk-!-padding-bottom-2"></div>

                <h2 class="govuk-heading-m">Quote 1</h2>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                    Supplier name
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxxxxxx
                  </div>
                  <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
                    What is the cost in pounds?
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxx
                  </div>
                  <div class="govuk-!-padding-bottom-2"></div>
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                  </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-m">Quote 2</h2>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                    Supplier name
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxxxxxx
                  </div>
                  <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
                    What is the cost in pounds?
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxx
                  </div>
                  <div class="govuk-!-padding-bottom-2"></div>
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                  </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-m">Quote 3</h2>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                    Supplier name
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxxxxxx
                  </div>
                  <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>

                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
                    What is the cost in pounds?
                  </label>
                  </h3>
                  <div id="event-name-hint" class="govuk-hint">
                    xxxxxxxxx
                  </div>
                  <div class="govuk-!-padding-bottom-2"></div>
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                  </div>
                </div>



              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/alpha-apply-1b/1b-specialist-equipment-quote-date-1" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1b/1b-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
