{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1b/1b-task-list">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1b/1b-specialist-equipment-type-1" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Does your condition mean that you need specialist equipment at work?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-2"></div>

                <p class="govuk-body">This could be things like:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>specialist equipment to help you to do your job, such as keyboard and mouse alternatives</li>
                  <li>assistive technology, such as screen readers</li>
                  <li>another type of special equipment</li>
                </ul>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="specialist-equipment-screener" name="specialist-equipment-screener"
                           type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="specialist-equipment-screener">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="specialist-equipment-screener-2"
                           name="specialist-equipment-screener"
                           type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="specialist-equipment-screener-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        <p><a href="/alpha-apply-1b/1b-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

                <script>
                {
                value: "Yes",
                text: "Yes",
                checked: checked("specialist-equipment-screener", "Yes")
                },
                {
                value: "No",
                text: "No",
                checked: checked("specialist-equipment-screener", "No")
                }
                </script>

{% endblock %}
