{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Access to Work
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ sectionCount }} of 14 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="eligibility-status">
                  Check you're eligible
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-what-is-your-full-name" aria-describedby="your-disability-status">
                  Your details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="your-disability-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="your-disability-status">
                  Your disabilities or health conditions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="your-disability-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Employment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="about-your-job-status">
                  About your job
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="about-your-job-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/" aria-describedby="employer-details-status">
                  Employer details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="employer-details-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Support
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-specialist-equipment-screener" aria-describedby="specialist-equipment-status">
                  Specialist equipment
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="specialist-equipment-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-workplace-adaptations-screener" aria-describedby="workplace-adaptations-status">
                  Workplace adaptations
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="workplace-adaptations-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-support-worker-screener" aria-describedby="support-workers-status">
                  Support workers
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="support-workers-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-travelling-to-work-screener" aria-describedby="travel-to-work-status">
                  Travelling to work
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="travel-to-work-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/1b-travelling-in-work-screener" aria-describedby="travel-at-work-status">
                  Travelling at work
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="travel-at-work-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Quotes

            <div class="govuk-!-padding-bottom-2"></div>

            <p>If the support you need is over £500, we need quotes from three different suppliers to work out the value of your grant.</p>
          </h2>


          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="quote-status">
                  Upload supplier quotes for support
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="quote-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Additional information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="additional-information-status">
                  Extra information you would like to tell us
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="additional-information-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Submit application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/alpha-apply-1b/#" aria-describedby="declaration-status">
                  Declaration and submit application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag govuk-tag--grey app-task-list__tag" id="declaration-status">Do this
                last</strong>
            </li>
          </ul>
        </li>

      </ol>

    </div>
  </div>

<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/extension-assets/%40ministryofjustice%2Ffrontend/moj/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/auto-store-data.js"></script>


{% endblock %}
on m