{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-apply-1b/1b-workplace-adaptations-screener">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-apply-1b/1b-workplace-adaptations-details-1" method="post">

      <h1 class="govuk-heading-l">Contacting your employer</h1>

      <p>This support will involve making changes to your workplace. This means that Access to Work may need to get in
        touch with your workplace contact.</p>

      <p>We will contact you to ask you for your permission first.</p>

      <div class="govuk-!-padding-bottom-1"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

        <p><a href="/alpha-apply-1b/1b-task-list">Return to list</a></p>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
