{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-control/#">Back</a>
{% endblock %}

{% block content %}



    <html class="govuk-form-group">
      <div class="govuk-form-group">

        <div class="govuk-grid-row-2">
          <!DOCTYPE html>
          <style>
  .govuk-grid-row-2 {
  background-color: #1d70b8;
  color: #fff;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
  padding: 20px 40px 2px;
  }

  </style>

          <div class="govuk-!-padding-bottom-3"></div>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading" style="color:white">
                Based on your answers, you may not be eligible for Access to Work
              </h1>
            </legend>

            <div class="govuk-!-padding-bottom-3"></div>

            <p style="color:white">To be eligible for Access to Work, you must:</p>

            <ul class="govuk-list govuk-list--bullet" style="color:white">
              <li>have a physical or mental health condition or disability that means you need support to do your job or get to and from work</li>
              <li>be 16 or over</li>
              <li>be in paid work (or be about to start or return to paid work)</li>
              <li>live and work (or be about to start or return to work) in England, Scotland or Wales - there’s a <a
                      href="#" class="govuk-link govuk-link--inverse">different system in Northern Ireland</a></li></li>
            </ul>

            <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m" style="color:white">If you think you might still be eligible</h2>

            <p style="color:white">You can continue with your application or contact us:</p>

            <ul class="govuk-list govuk-list--bullet" style="color:white">
              <li>telephone: 0800 121 7479</li>
              <li>textphone: 0800 121 7579</li>
              <li><a href="#" class="govuk-link govuk-link--inverse">Relay UK service</a>, if you cannot hear or speak on the phone: 18001 then 0800 121
                7479</li>
              <li><a href="#" class="govuk-link govuk-link--inverse">video relay service</a> for British Sign Language (BSL) users (find out <a
                      href="#">how to use the
                service</a>)</li>
              <li>email: <a href="#" class="govuk-link govuk-link--inverse">dwponline.helpdesk@dwp.gov.uk</a></li>
            </ul>

            <h2 class="govuk-heading-m" style="color:white">If you need financial support</h2>

            <p class="govuk-body" style="color:white">You may be eligible for the following:</p>
            <ul class="govuk-list govuk-list--bullet" style="color:white">
            <li><a href="https://www.gov.uk/universal-credit" class="govuk-link govuk-link--inverse">Universal Credit</a></li>
              <li><a href="https://www.gov.uk/pip" class="govuk-link govuk-link--inverse">Personal Independence Payment (PIP)</a>, if you have a long term
                health condition or disability</li>
              <li><a href="https://www.gov.uk/employment-support-allowance" class="govuk-link govuk-link--inverse">Employment and Support Allowance
                (ESA)</a>, if you have a disability or health condition that affects how much you can work</li>
              <li><a href="https://www.gov.uk/pension-credit" class="govuk-link govuk-link--inverse">Pension Credit</a>, if you are on a low income and
                over State Pension age</li>
            </ul>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-0"></div>

      </div>

    </div>

    </html>


{% endblock %}
