{% extends "layout.html" %}

{% block pageTitle %}
#
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/alpha-eligibility-4/#">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">


    <div class="govuk-form-group">
      <div class="govuk-form-group">

        <center>
        <a href="/alpha-eligibility-4/ineligible-4a">
        <button class="govuk-button" data-module="govuk-button">
          <b>Screen 1</b>
        </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4b">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 2</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4c">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 3</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4d">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 4</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4e">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 5</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4f">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 6</b>
            </button></a>
        </center>

        <center>
          <a href="/alpha-eligibility-4/ineligible-4g">
            <button class="govuk-button" data-module="govuk-button">
              <b>Screen 7</b>
            </button></a>
        </center>



        <div class="govuk-!-padding-bottom-0"></div>


    </div>

  </div>
</div>

  </div>

{% endblock %}
