
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Access to Work: Apply Journey</h1>
      <p>This page is the repository for the prototypes used by Team Sparrow for the <a
              href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works" target="_blank">Alpha
        </a> and <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works" target="_blank">
        Beta</a> testing stages for the <a href="https://www.gov.uk/access-to-work/apply" target="_blank">Apply
        Journey</a> for <a href="https://www.gov.uk/access-to-work" target="_blank">Access to Work</a>.
      </p>

      <h2 class="govuk-heading-m">GitHub</h2>
      <p>Public-facing code repository can be located on <a href="https://github.com/dwp/atw-application-service" target="_blank">
        GitHub (opens new tab)</a></p>

      <div class="govuk-!-padding-bottom-3"></div>

      <!DOCTYPE html>
      <style>
    .sparrow {max-width: 15%}
    .sparrow {max-height: auto}
    </style>
      <center>
        <img src="/public/images/sparrow.png" class="sparrow" alt="team sparrow logo">
      </center>
      </html>

      <div class="govuk-!-padding-bottom-2"></div>


      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          α Accessibility Testing
        </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">In progress</strong>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>User Research has strongly indicated that the Live service Team Sparrow inherited
              does not meet the accessibility standards required by Government and GDS. The prototypes in this
              section look to test several accessibility hypothesis during the alpha phase.</p>

            <p>First round of UR Accessibility Testing scheduled the week commencing <b>30th August 2021</b>.</p>

            <div class="govuk-!-padding-bottom-1"></div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">1. Accessibility Support page on GOV.UK</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/1-alpha-accessibility" target="_blank">/1-alpha-accessibility</a></i></p>
                  <p>Research has indicated that the current GOV.UK page for Access to Work does not offer enough
                    signposting and guidance to those with accessibility needs. The purpose of our A/B testing is to
                    test how users would navigate the <a href="https://www.gov.uk/access-to-work/apply" target="_blank"> current
                      service</a> versus a service that includes a new Accessibility Support page.</p>

                  <a href="/1-alpha-accessibility/gds-apply-control">
                  <center>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      <b>Control prototype with original content</b>
                    </button>
                  </center>
                  </a>

                    <a href="/1-alpha-accessibility/gds-apply-new-content">
                    <center>
                      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        <b>Control prototype with refreshed content</b>
                      </button>
                    </center>
                  </a>

                      <a href="/1-alpha-accessibility/gds-apply-original-content">
                <center>
                  <p><button class="govuk-button" data-module="govuk-button">
                    <b>'Support with your application' tab with original content</b>
                  </button></p>
                </center>
                  </a>

                      <a href="/1-alpha-accessibility/gds-apply-new-content-no-accessibility">
                    <center>
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>'Support with your application' tab with refreshed content</b>
                      </button></p>
                    </center>
                  </a>


              </div>
              </html>

            </div>
            </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">2. Support based on claimant disability-types</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/2-alpha-accessibility" target="_blank">/2-alpha-accessibility</a></i></p>
                  <p>Team Sparrow spoke to many users during the discovery phase and it was clear that the level of
                    support currently on offer by GOV and DWP is currently not good enough. For example, 15% of
                    claimants are deaf or hard of hearing and 12% of claimants are blind or have difficulty seeing.
                    This emphasises the importance of developing an accessible-by-default service. The aim of these
                  prototypes is to test how users react to being offered support or a bespoke application journey at
                    the start of their application. Currently we are unsure on how to offer the support, hence a
                    number of prototypes are to be tested and iterated on over time.</p>

                  <h3 class="govuk-heading-s">2a. How would you prefer to apply?</h3>
                  <p>This prototype directly asks the claimant their preferred application method
                    before they start their application. For example, someone who is dyslexic, may prefer to have a
                    phone call instead of filling out a digital form.
                  </p>

                  <center>
                    <a href="/2-alpha-accessibility/2a-apply">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>2a. Preferred application method</b>
                      </button></p>
                    </a>
                  </center>


                <h3 class="govuk-heading-s">2b. Do you need support completing this application?</h3>
                <p>The aim of this prototype is to ask the claimant at the start of their application on whether they
                  need support or not. If they require support, we want to test an Access to Work accessibility
                  information page.</p>

                <center>
                  <a href="/2-alpha-accessibility/2b-apply">
                  <p><button class="govuk-button" data-module="govuk-button">
                    <b>2b. Accessibility information page</b>
                  </button></p>
                  </a>
                </center>


                  <h3 class="govuk-heading-s">2c. British Sign Language (BSL)</h3>
                  <p>A high proportion of claimants speak BSL. What if we identified them at the very start of the
                    application and aided them on a more BSL-bespoke application journey.
                  </p>

                  <center>
                    <a href="/2-alpha-accessibility/2c-apply">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>2c. British Sign Language</b>
                    </button></p>
                    </a>
                  </center>

              </div>
              </html>

            </div>
            </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">3. 'Get help' support column</h3>
                  <p>GitHub:
                    <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/3-alpha-accessibility" target="_blank">/3-alpha-accessibility</a></i></p>
                  <p>When speaking to users it was clear that the 'Get help' support column on the current Live
                    service does not offer accurate, informative or useful guidance. The aim of these prototypes is
                    to test different types of support content for our users.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <center>
                    <a href="/3-alpha-accessibility/support-column-1">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 1 - text heavy, small font</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/3-alpha-accessibility/support-column-2">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 2 - text heavy, normal font</b>
                    </button></p>
                  </a>
                  </center>
                  <center>
                    <a href="/3-alpha-accessibility/support-column-3">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 3 - application route only</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/3-alpha-accessibility/support-column-4">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 4 - dynamic hearing support</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/3-alpha-accessibility/support-column-5">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 5 - dynamic visual support</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/3-alpha-accessibility/support-column-6">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 6 - 'other accessible formats' link</b>
                    </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>

            <div class="govuk-!-padding-bottom-3"></div>

          </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">4. BSL videos</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/4-alpha-accessibility" target="_blank">/4-alpha-accessibility</a></i></p>
                  <p>Team Sparrow spoke to several BSL speakers, they all requested BSL videos to be embeded into the
                    service next to each question. The aim of these prototypes is to test different ways of adding a
                    static BSL video (static image - for now!) into the service.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <center>
                    <a href="/4-alpha-accessibility/bsl-design-1">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 1</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/4-alpha-accessibility/bsl-design-2">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 2</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/4-alpha-accessibility/bsl-design-3">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 3</b>
                    </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/4-alpha-accessibility/bsl-design-4">
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 4<b>
                    </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>


          </div>


          </div>


        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          α Eligibility Testing
        </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">In progress</strong>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>User Research and an in-depth Design review on the current Live service Team Sparrow
              inherited highlighted several key concerns:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>Many potential claimants were not applying for Access to Work because they believed that they
                were not eligible</li>
              <li>Many users were making claims despite not being eligible</li>
              <li>When filling out the application, many users would get rejected half way through their
                application (having wasted a lot of time filling out details prior to the question that rejected them).
                This is bad design.</li>
              <li>A lot of time is currently being wasted by advisors who have to do some back-end investigations
                into if the claimant is eligible for Access to Work. This indictaed that the current live service
                is not designed optimally.</li>
            </ul>

            <p>The aim of this section of alpha is to uncover the best and simplest ways to determine the eligibility
              of a claimant</p>

            <div class="govuk-!-padding-bottom-1"></div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">Control Eligibility Prototype</h3>

                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-control"
                          target="_blank">/alpha-eligibility-control</a></i></p>

                  <p>The following prototype is the control eligibility prototype that contains all of the information
                    currently required by Policy to confirm the eligibility of a claimant. Our overall aim is to iterate
                    on this prototype to make sure it tests well, to optimise it and make it simpler.</p>

                  <p><b>Currently the control prototype asks for <u>no</u> personally identifiable information</b>.
                  </p>

                  <center>
                    <a href="/alpha-eligibility-control/do-you-live-in-gb">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>Eligibility Control</b>
                      </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>
            </div>


            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">New GDS eligibility page</h3>

                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-gds"
                          target="_blank">/alpha-eligibility-gds</a></i></p>

                  <p>During discovery, Team Sparrow has uncovered a lot of information that could help optimise the
                    <a href="https://www.gov.uk/access-to-work/eligibility">current eligibility page</a> on GOV.UK. We would like to A/B test the currently live
                    screen against a newer version.</p>

                  <center>
                    <a href="/alpha-eligibility-control/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>New GDS GOV.UK eligibility page</b>
                      </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>
            </div>



            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">1. Working out eligibility for every job-type</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-1"
                          target="_blank">/alpha-eligibility-1</a></i></p>
                  <p>It has become increasingly apparent that case managers struggle with the 'niche' employment
                    types. For example there are complexities if someone is applying for Access to Work via the
                    <b>Department for Education supported internship</b>, and even more complexities if they are
                    applying for this internship from <b>Wales</b>.</p>

                  <p>Case managers have stated that over time a lot of different employment-types have been stappled
                  onto Access to Work. If a 'niche' employment type emerges in an application it can be very
                    confusing, complex and time consuming for both the applicant and advisor.</p>

                  <p>Our hypothesis is that: we believe that identifying and separating out unique job types at the
                    start of an application will result in a better application experience and work out if someone
                    is genuinely eligible.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <h4 class="govuk-heading-s">1a. Completely separating out some Access to Work services</h4>

                  <p>The purpose of this prototype is to alter the GDS GOV.UK homepage to separate out some
                    services into a new sub-services with bespoke and accurate application and eligibility content for
                    the user and advisor.</p>

                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>1a. New sub-services on GOV.UK page</b>
                      </button></p>
                    </a>
                  </center>

                  <h4 class="govuk-heading-s">1b. Optimising the 'What is your employment status' screen</h4>

                  <p>By utilising good content and signposting, this prototype tries to incorporate all
                    employment-types during the eligibility stage.</p>

                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>1b. Refined 'what is your employment status' page</b>
                      </button></p>
                    </a>
                  </center>

                </div>
                </html>

              </div>


            </div>


            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">2. Personal Information & Eligibility</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-2"
                          target="_blank">/alpha-eligibility-2</a></i></p>

                  <p>The <a href="/alpha-eligibility-control/do-you-live-in-gb">control prototype</a> asks all the questions that are
                    required by Policy to determine if a claimant is eligible for Access to Work. The
                    control prototype does not ask for any personally identifiable information.</p>

                  <p>We believe that by asking for some personally identifiable information during the eligibility
                    stage, we can ask fewer questions and make the application process simpler. For example if we
                    ask for their National Insurance number we can route it to a back-end API to instantly check if
                    they are eligible from an age, citizenship and benefit-status perspective.</p>

                  <p>Our concern is that claimants may not want to reveal so much identifiable information during
                    the eligibility stage and there may be some GDPR and security considerations.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <h4 class="govuk-heading-s">2a. Name, date of birth and address</h4>

                  <p>This prototype replicates the control prototype, but asks for the name, date of birth and
                    address of the claimant. It is believed that this information would not need to be re-asked
                    during the Apply stage.</p>

                  <center>
                    <a href="/alpha-eligibility-2/2a-what-is-your-full-name">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>2a. Additional personal information prototype</b>
                      </button></p>
                    </a>
                  </center>

                  <h4 class="govuk-heading-s">2b. National Insurance number</h4>

                  <p>This prototype replicates the control prototype, but requests the National Insurance number of
                    the claimant to do some back-end eligibility checks.</p>

                  <center>
                    <a href="/alpha-eligibility-2/2b-do-you-need-support">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>2b. National Insurance Number prototype</b>
                      </button></p>
                    </a>
                  </center>

                  <h4 class="govuk-heading-s">2c. National Insurance number - Automatically Ineligibile</h4>

                  <p>This prototype replicates prototype <b>2b</b> but aims to show an ineligible screen to the user to
                    gauge how they would interpret the content</p>

                  <center>
                    <a href="/alpha-eligibility-2/2c-do-you-need-support">
                      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                        <b>2c. National Insurance Number - Ineligible</b>
                      </button>
                    </a>
                  </center>

                </div>
                </html>

              </div>


            </div>


            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">3. Eligibility Structure</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-3"
                          target="_blank">/alpha-eligibility-3</a></i></p>

                  <p>Different services throughout Government do eligibility checks differently. We are interested
                    in whether eligibility should be highlighted to the claimants once they have done their
                    eligibility check. Or alternatively, should eligibility seamlessly flow into apply.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <h4 class="govuk-heading-s">3a. "Based on your answers you may be eligible"</h4>

                  <p>This prototype takes inspiration from the <a href="https://www.gov.uk/apply-blue-badge">Apply
                    for Blue Badge</a> service which contains a "you may be eligible" holding page, with information
                    on what you need to do for the "start application" (apply) stage.</p>

                  <p>It is also hypothesized that if we make the claimant aware that they "passed eligibility", they
                  will be understanding/forgiving if they get asked a similar question during apply e.g. if we ask
                    the claimant during eligibility-checking if they are "16 or over" (to avoid asking for personal
                    information), they will be forgiving when asked for their date of birth during apply.
                  </p>

                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>3a. "You may be eligible" prototype</b>
                      </button></p>
                    </a>
                  </center>


                  <h4 class="govuk-heading-s">3b. Unnoticeable transition from eligibility to apply</h4>

                  <p>This prototype aims for a subtle transition between eligibility and apply, so it appears as one
                  application.</p>

                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>3b. Subtle transition prototype</b>
                      </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>


            </div>


            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">4. Ineligibility Screens</h3>
                  <p>GitHub: <i><a
                          href="https://github.com/dwp/atw-application-service/tree/main/app/views/alpha-eligibility-4"
                          target="_blank">/alpha-eligibility-4</a></i></p>
                  <p>We believe that claimants who are ineligible will need screens with information into why they
                    are ineligible. We are keen to test the structure, layout and format of these screens.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <center>
                    <a href="/alpha-eligibility-4/ineligible-not-posted-worker-1">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>Ineligibility Screen 1</b>
                      </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/alpha-eligibility-4/ineligible-not-posted-worker-2">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>Ineligibility Screen 2</b>
                      </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>Ineligibility Screen 3</b>
                      </button></p>
                    </a>
                  </center>
                  <center>
                    <a href="/alpha-eligibility-1/#">
                      <p><button class="govuk-button" data-module="govuk-button">
                        <b>Ineligibility Screen 4<b>
                      </button></p>
                    </a>
                  </center>
                </div>
                </html>

              </div>


            </div>






          </div>
        </div>
      </div>


  </div>
  </div>

{% endblock %}