
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Access to Work: Apply Journey</h1>
      <p>
        This page is the repository for the prototypes used by Team Sparrow for the <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">Alpha</a> and <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">Beta</a> testing stages for the <a href="https://www.gov.uk/access-to-work/apply">Apply Journey</a> for <a href="https://www.gov.uk/access-to-work">Access to Work</a>.
      </p>

      <!DOCTYPE html>
      <style>
    .sparrow {max-width: 15%}
    .sparrow {max-height: auto}
    </style>
      <center>
        <img src="/public/images/sparrow.png" class="sparrow" alt="team sparrow logo">
      </center>
      </html>


      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          α Accessibility Testing
        </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">In progress</strong>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>User Research has strongly indicated that the Live service Team Sparrow inherited
              does not meet the accessibility standards required by Government and GDS. The prototypes in this
              section look to test several accessibility hypothesis during the alpha phase.</p>

            <div class="govuk-!-padding-bottom-1"></div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">Accessibility Support page on GOV.UK</h3>
                  <p>Research has indicated that the current GOV.UK page for Access to Work does not offer enough
                    signposting and guidance to those with accessibility needs. The purpose of our A/B testing to test
                    how users would navigate the <a href="https://www.gov.uk/access-to-work/apply"> current service</a>
                    verses a service that includes a new Accessibility Support page.</p>

                <center>
                  <p><button class="govuk-button" data-module="govuk-button">
                    <b>GDS Accessibility Support Page</b>
                  </button></p>
                </center>
              </div>
              </html>

            </div>
            </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">Support based on claimant disability-types</h3>
                  <p>Team Sparrow spoke to many users during the discovery phase and it was clear that the level of
                    support currently on offer by GOV and DWP is currently not good enough. For example, 15% of
                    claimants are deaf or hard of hearing and 12% of claimants are blind or have difficulty seeing.
                    This emphasises the importance of developing an accessible-by-default service. The aim of these
                  prototypes is to test how users react to being offered support or a bespoke application journey at
                    the start of their application. Currently we are unsure on how to offer the support, hence a
                    number of prototypes are to be tested and iterated on over time.</p>


                <h3 class="govuk-heading-s">Do you need support completing this application?</h3>
                <p>The aim of this prototype is to ask the claimant at the start of their application on whether they
                  need support or not. If they require support, we want to test an Access to Work accessibility
                  homepage.</p>

                <center>
                  <p><button class="govuk-button" data-module="govuk-button">
                    <b>Accessibility Homepage</b>
                  </button></p>
                </center>

                  <h3 class="govuk-heading-s">How would you prefer to apply?</h3>
                  <p>This prototype directly asks the claimant their preferred application method
                    before they start their application. For example, someone who is dyslexic, may prefer to have a
                    phone call instead of filling out a digital form.
                    </p>

                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>Preferred application method</b>
                    </button></p>
                  </center>

                  <h3 class="govuk-heading-s">British Sign Language (BSL)</h3>
                  <p>A high proportion of claimants speak BSL. What if we identified them at the very start of the
                    application and aided them on a more BSL-bespoke application journey.
                  </p>

                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>British Sign Language</b>
                    </button></p>
                  </center>

              </div>
              </html>

            </div>
            </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">'Get help' support column</h3>
                  <p>When speaking to users it was clear that the 'Get help' support column on the current Live
                    service does not offer accurate, informative or useful guidance. The aim of these prototypes is
                    to test different types of support content for our users.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 1</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 2</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 3</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 4</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 5</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>'Get help' support column 6</b>
                    </button></p>
                  </center>
                </div>
                </html>

              </div>

            <div class="govuk-!-padding-bottom-3"></div>

          </div>

            <div class="govuk-grid-row-2">
              <!DOCTYPE html>
              <style>
                .govuk-grid-row-2 {
                  background-color: #f3f2f1;
                   color: #;
                    margin-top: 1.25em;
                     margin-bottom: 2.25em;
                       padding: 20px 40px 2px;
                      }</style>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-m">BSL videos</h3>
                  <p>Team Sparrow spoke to several BSL speakers, they all requested BSL videos to be embeded into the
                    service next to each question. The aim of these prototypes is to test different ways of adding a
                    static BSL video (static image - for now!) into the service.</p>

                  <div class="govuk-!-padding-bottom-3"></div>

                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 1</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 2</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 3</b>
                    </button></p>
                  </center>
                  <center>
                    <p><button class="govuk-button" data-module="govuk-button">
                      <b>BSL video 4<b>
                    </button></p>
                  </center>
                </div>
                </html>

              </div>


          </div>


          </div>


        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          α Eligibility Testing
        </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>This is the content for Writing well for specialists.</p>
          </div>
        </div>
      </div>


  </div>
  </div>

{% endblock %}