{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/alpha-case-manager/emily/task-list">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-form-group">

    <div class="govuk-grid-row-2">
      <!DOCTYPE html>
      <style>
  .govuk-grid-row-2 {
  background-color: #1f70b8;
  color: #fff;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
  padding: 20px 40px 2px;
  }

  </style>

      <div class="govuk-!-padding-bottom-2"></div>

      <fieldset class="govuk-fieldset">
        <span class="govuk-caption-xl" style="color:white">AB 12 30 07 C</span>
        <h1 class="govuk-heading-xl" style="color:white">Emily Stone</h1>

      </fieldset>
      </html>

    </div>

  </div>

              <h2 class="govuk-heading-m">Create business case</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job requirements responsibilities and tasks
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Effect of disability or medical condition - responsibilities tasks or targets the customer cannot
                    meet?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Standard support and provision - what equipment, training or support would a non-disabled colleague
                    need?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job requirement targets
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Effect of disability or medical condition & reasons?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Standard support and provisions - what could be changed to help the person carry out their job?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xxxxxx
                  </dd>
                </div>
              </dl>



  <form class="form" action="/alpha-case-manager/emily/task-list" method="post">
    <input type="hidden" name="business-case-true-emily" value="true">
    <button class="govuk-button" data-module="govuk-button">
        Completed
      </button>
  </form>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>

  </div>

{% endblock %}