{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/alpha-case-manager/jamal/task-list">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-form-group">

    <div class="govuk-grid-row-2">
      <!DOCTYPE html>
      <style>
  .govuk-grid-row-2 {
  background-color: #1f70b8;
  color: #fff;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
  padding: 20px 40px 2px;
  }

  </style>

      <div class="govuk-!-padding-bottom-2"></div>

      <fieldset class="govuk-fieldset">
        <span class="govuk-caption-xl" style="color:white">AB 12 30 07 C</span>
        <h1 class="govuk-heading-xl" style="color:white">Jamal Smith</h1>

      </fieldset>
      </html>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


              <h2 class="govuk-heading-m">Employer and job</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Employer name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    North Medland Ambulance Service
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job title
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Emergency call handler / medical dispatcher
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job start date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    01 / 08 / 2019
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Employment status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Employed
                  </dd>
                </div>
              </dl>

      <h2 class="govuk-heading-m">Workplace details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Ambulance Service Building
            <br>
            100 High Street
            <br>
            Arville
            <br>
            United Kingdom
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            SE34 7UH
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace forename(s)
          </dt>
          <dd class="govuk-summary-list__value">
            Amelia
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace surname
          </dt>
          <dd class="govuk-summary-list__value">
            Newton
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact job title
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Ambulance Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace telephone
          </dt>
          <dd class="govuk-summary-list__value">
            01043 678263
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace email
          </dt>
          <dd class="govuk-summary-list__value">
            adnewton@messages.tk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employer size
          </dt>
          <dd class="govuk-summary-list__value">
            50 to 249 employees
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hours worked per week
          </dt>
          <dd class="govuk-summary-list__value">
            40
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Days in the week worked
          </dt>
          <dd class="govuk-summary-list__value">
            Monday
            <br>
            Tuesday
            <br>
            Wednesday
            <br>
            Thursday
            <br>
            Friday
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work pattern
          </dt>
          <dd class="govuk-summary-list__value">
            xxxxxx
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job description
          </dt>
          <dd class="govuk-summary-list__value">
            I answer emergency calls and dispatch emergency services for the NHS. I work at a desk taking calls and doing paperwork
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How customer feels disability affects job
          </dt>
          <dd class="govuk-summary-list__value">
            <p>I recently lost the use of my legs in a car accident. I can't use stairs or take the bus to work any
              more</p>

            <p>I can't access my office building without help climbing the stairs</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Support customers feels may be needed
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Specialist aids, equipment and software</p>
            <p>Travelling to and from work</p>
            <p>Changes to workplace</p>
          </dd>
        </div>
      </dl>

      </div>
  </div>



  <form class="form" action="/alpha-case-manager/jamal/task-list" method="post">
    <input type="hidden" name="employer-and-job-true-jamal" value="true">
    <button class="govuk-button" data-module="govuk-button">
        Completed
      </button>
  </form>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>

  </div>

{% endblock %}